@use 'abstracts' as *;

#footer {

    display: flex;
    flex-direction: column;
    row-gap: $spacing-md;

    border-top: 1px solid #e5e5e5;
    padding-top: $spacing-md;

    .footer-top-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;

        .item-introduction {
            p {
                margin-left: $spacing-xs;

                img {
                    border-radius: $spacing-sm;
                }

                .introduction-img {
                    float: left;
                    height: 60px;
                    margin: 0 12px 2px 0;
                    border-radius: $spacing-xs;
                }
            }
        }

        .item-technology {
            ul {
                margin-left: $spacing-xs;

                li {
                    list-style: square;
                    margin-bottom: $spacing-xs - 4px;
                    margin-left: $spacing-lg;

                    a {
                        color: $light-primary-font-color;
                        text-decoration: none;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .item-resources {
            ul {
                margin-left: $spacing-xs;

                li {
                    list-style: square;
                    margin-bottom: $spacing-xs - 4px;
                    margin-left: $spacing-lg;

                    a {
                        color: $light-primary-font-color;
                        text-decoration: none;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .item-contact-details {
            .contact-items {
                .contact-item {
                    margin-bottom: $spacing-md;

                    .item {
                        display: flex;
                        flex-direction: column;
                        row-gap: 10px;
                        padding-left: $spacing-xs;

                        a {
                            color: $light-primary-font-color;
                            text-decoration: none;

                            &:hover {
                                text-decoration: none;
                            }
                        }

                        .contact-pages {
                            display: flex;
                            flex-direction: row;
                            column-gap: $spacing-md;

                            i {
                                font-size: $font-size-lg;
                                color: $comp-default-font-color
                            }
                        }
                    }
                }
            }

        }

        .footer-item {
            text-align: left;
            min-width: 25%;
            border-radius: $spacing-xs;

            .footer-item-title {
                margin-bottom: $spacing-xs + 4px;
                text-transform: uppercase;
                background-color: $light-primary-bg-color;
                border-radius: $spacing-xs;
                padding: $spacing-xs $spacing-sm;
                font-weight: bold;
            }
        }
    }

    .footer-bottom-section {
        background-color: $light-primary-bg-color;
        padding: $spacing-sm;
        font-size: $font-size-sm + 2px;
        border-radius: $spacing-xs;
    }

    //Media queries for responsive design
    @include respond-to("pro-sm") {
        .footer-top-section {
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 15px;

            .item-introduction {
                display: none;
            }
        }

        .footer-bottom-section {
            font-size: $font-size-sm;
        }
    }

    @include respond-to("pro-xs") {

        .footer-top-section {
            grid-template-columns: 1fr 1fr;

            .item-resources,
            .item-introduction {
                display: none;
            }
        }
    }

    @include respond-to("xs") {

        border: none;

        .footer-top-section {
            grid-template-columns: 1fr;

            .item-resources,
            .item-introduction,
            .item-technology {
                display: none;
            }

            .footer-item {
                text-align: center;

                .contact-items {
                .contact-item {
                   .item {
                        row-gap: 8px; 
                    }
                }
                }

                .contact-pages { 
                justify-content: center;
             }
            }
        }
    }
}