@use 'abstracts' as *;

#footer {

    display: flex;
    flex-direction: column;
    row-gap: $spacing-md;

    .footer-top-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 15px;
        font-size: $font-size-md;

        .item-introduction {
            p {
                margin-left: $spacing-md + 2px;
            }
        }

        .item-technology {
            ul {
                margin-left: $spacing-md + 2px;

                li {
                    list-style: square;
                    margin-bottom: $spacing-xs;
                    font-size: $font-size-md;
                    margin-left: $spacing-md + 2px;



                    a {
                        color: $light-primary-font-color;
                        text-decoration: none;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .item-resources {
            ul {
                margin-left: $spacing-md + 2px;

                li {
                    list-style: square;
                    margin-bottom: $spacing-xs;
                    font-size: $font-size-md;
                    margin-left: $spacing-md + 2px;

                    a {
                        color: $light-primary-font-color;
                        text-decoration: none;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

        }

        .item-contact-details {

            .contact-items {
                .contact-item {
                    margin-bottom: $spacing-md;

                    .bi {
                        text-transform: uppercase;
                        font-style: normal;
                        margin-bottom: $spacing-md;
                        font-size: $font-size-md;
                        color: $comp-default-font-color
                    }

                    .item {
                        margin-top: $spacing-sm;
                        margin-left: $spacing-md;


                        a {
                            color: $light-primary-font-color;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        .contact-pages {
                            display: flex;
                            flex-direction: row;
                            gap: $spacing-md;
                            i {
                                font-size: $font-size-lg;
                            }
                            
                        }
                    }
                }
            }

        }

        .footer-item {
            text-align: left;
            min-width: 25%;
            // border: 1px solid $light-border-color;
            background-color: $light-default-bg-color;
            padding: $spacing-md;

            h4 {
                text-transform: uppercase;
                margin-bottom: $spacing-md;
            }
        }

    }

    .footer-bottom-section {
        background-color: $light-default-bg-color;
        padding: $spacing-md;
    }

    //Media queries for responsive design
    @include respond-to("pro-sm") {
        .footer-top-section {
            grid-template-columns: 1fr 1fr;
            row-gap: 15px;
        }
    }

    @include respond-to("pro-xs") {
        .footer-top-section {
            display: grid;
            grid-template-columns: 1fr;

            .item-resources {
                display: none;
            }
        }
    }

}