@use 'abstracts' as *;

// layout/_grid.scss
.site-grid-container {

  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: $spacing-md;
  text-align: center;


  display: grid;
  gap: 5px;
  grid-template-columns: 1fr;
  grid-template-areas: "header"
    "navbar"
    "carousel"
    "page-intro"
    "main-content"
    "footer";

  //Media queries for responsive design
  @include respond-to("xs") {
    //add css here
  }

  @include respond-to("sm") {
    //add css here
  }

}

.grid-area-carousel,
.grid-area-navbar,
.grid-area-page-intro,
.grid-area-main-content,
.grid-area-footer {
  padding: $spacing-md;
  height: auto;
}

.grid-area-header {
  grid-area: header;
}

.grid-area-carousel {
  grid-area: carousel;
  background-color: $light-primary-bg-color;
}

.grid-area-navbar {
  grid-area: navbar;
  background-color: $light-primary-bg-color;
  padding: 0;
}

.grid-area-page-intro {
  grid-area: page-intro;
  background-color: $light-primary-bg-color;
}

.grid-area-main-content {
  grid-area: main-content;
}

.grid-area-footer {
  grid-area: footer;
  background-color: $light-primary-bg-color;
}