@use 'abstracts' as *;

#page-instroduction {

    display: flex;
    flex-direction: column;
    row-gap: $spacing-sm;
    padding: $spacing-lg;
    border-radius: $spacing-xs;
    background-color: $light-primary-bg-color;
    margin-bottom: $spacing-sm;

    .page-title {
        text-transform: uppercase;
        font-size: $font-size-xl;
        font-weight: bolder;
    }

    .page-description {
        text-transform: uppercase;
        font-size: $font-size-md + 2px;
        color: $comp-default-font-color;
    }

    .page-intro-buttons {

        display: flex;
        flex-direction: row;
        column-gap: 10px;
        justify-content: center;
        margin: 10px 0;

        button {
            min-width: 120px;
            padding: 7px 18px;
            text-transform: uppercase;
            color: $light-neutral-font-color;
            cursor: pointer;
            border: none;
            border-radius: $spacing-xs - 2px;

            &.projects {
                background-color: orange;

                &:hover {
                    background-color: brown;
                }
            }

            &.contact {
                background-color: $light-secondery-font-color;

                &:hover {
                    background-color: $light-dark-bg-color;
                }
            }
        }
    }
}

@include respond-to("sm") {
    #page-instroduction {
        .page-heading {
            font-size: $font-size-md + 3px;
        }

        .page-intro-buttons {
            .button {
                min-width: 112px;
                padding: 8px 6px;
                font-size: $font-size-sm;
            }
        }
    }
}

@include respond-to("xs") {
    #page-instroduction {
        padding: $spacing-md;

        .page-title {
            font-size: $font-size-lg + 2px;
        }

        .page-description {
            font-size: $font-size-md + 2px;
        }

        .page-intro-buttons {
            margin: 5px 0;
        }
    }

}