@use 'abstracts' as *;

#page-instroduction {

    display: flex;
    flex-direction: column;
    row-gap: $spacing-sm;
    padding: $spacing-md;
    border-radius: $spacing-sm;
    background-color: $light-primary-bg-color;

    .page-title {
        text-transform: uppercase;
        font-size: $font-size-xl;
        font-weight: bolder;
    }

    .page-heading {
        text-transform: uppercase;
        font-size: $font-size-md + 4px;
        color: $comp-default-font-color;
        font-weight: 100;
    }

    .page-intro-buttons {

        display: flex;
        flex-direction: row;
        column-gap: 10px;
        justify-content: center;
        margin: 10px 0;

        button {
            min-width: 130px;
            padding: 10px 20px;
            text-transform: uppercase;
            color: $light-neutral-font-color;
            cursor: pointer;
            border: none;
            // border-radius: $spacing-xs;

            &.projects {
                background-color: orange;

                &:hover {
                    background-color: brown;
                }
            }

            &.contact {
                background-color: $light-secondery-font-color;

                &:hover {
                    background-color: $light-dark-bg-color;
                }
            }
        }
    }
}

@include respond-to("sm") {
    #page-instroduction {
        .page-heading {
            font-size: $font-size-md + 3px;
        }

        .page-intro-buttons {
            .button {
                min-width: 112px;
                padding: 8px 6px;
                font-size: $font-size-sm;
            }
        }
    }
}

@include respond-to("pre-sm") {
    #page-instroduction {
        .page-title {
            font-size: $font-size-lg + 2px;
        }

        .page-heading {
            font-size: $font-size-md;
            font-weight: 600;
        }

        .page-intro-buttons {

            display: flex;
            flex-direction: row;
            column-gap: 10px;
            justify-content: center;
            margin: 5px 0;

            .button {
                min-width: 115px;
                padding: 5px 15px;
                font-size: $font-size-sm;
            }
        }
    }

}