@use 'abstracts' as *;

#page-instroduction {

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0px;
    border-radius: $spacing-sm;
    background-image: linear-gradient(to right, #000428 0%, #004e92 51%, #000428 100%);
    // background-image: linear-gradient(to right, #abbaab 0%, #ffffff 51%, #abbaab 100%);
    // background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%);
    // background-image: linear-gradient(to right, #8E0E00 0%, #1F1C18  51%, #8E0E00  100%);
    // background-image: linear-gradient(to right, #870000 0%, #190A05 51%, #870000 100%);
    // background-image: linear-gradient(to right, #200122 0%, #6f0000 51%, #200122 100%);
    position: relative;

    .current-weather-container {

        text-align: right;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        column-gap: 3px;
        justify-content: flex-end;
        padding: $spacing-md + 10px $spacing-xl $spacing-md 0;
        color: $light-secondery-font-color;
        cursor: pointer;
        .weather-icon {
            align-content: center;

            img {
                height: 38px;
            }
        }

        .weather-temp {
            align-content: center;
            padding-top: -2px;
            margin-left: -5px;
            height: 38px;
            // border: 1px solid $light-neutral-font-color;
        }
    }

    .call-to-acltion-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: $spacing-sm;
        padding: 0 $spacing-lg + 40px $spacing-lg + 40px $spacing-lg + 40px;

        .intro-text {
            display: flex;
            flex-direction: column;
            row-gap: 11px;
            text-align: left;
            // opacity: 1;   

            .page-title {
                @include global-font-jura;
                text-transform: uppercase;
                color: $light-secondery-font-color;
            }

            .page-description {
                text-transform: uppercase;
                font-size: $font-size-md + 2px;
                color: $light-neutral-font-color;
            }

            .page-intro-buttons {
                display: flex;
                flex-direction: row;
                column-gap: 10px;
                justify-content: left;
                margin: 10px 0;

                button {
                    min-width: 120px;
                    padding: 7px 18px;
                    text-transform: uppercase;
                    color: $light-neutral-font-color;
                    cursor: pointer;
                    border: none;
                    border-radius: $spacing-xs - 2px;

                    &.projects {
                        background-color: $error-color;

                        &:hover {
                            background-color: orange;
                        }
                    }

                    &.contact {

                        background-color: transparent;
                        border: 1px solid $light-neutral-font-color;

                        &:hover {
                            background-color: $comp-default-font-color;
                            border-color: $comp-default-font-color;
                        }
                    }
                }
            }
        }

        .intro-image {
            img {
                height: 150px;
                cursor: pointer;
            }
        }
    }

    #spinner-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0
    }
}

@include respond-to("sm") {

    #page-instroduction {
        .current-weather-container {
            padding: $spacing-md + 10px $spacing-xl 0 $spacing-md;
        }

        .call-to-acltion-container {
            padding: 0 $spacing-lg + 20px $spacing-lg + 20px;

            .intro-text {
                row-gap: 3px;

                .page-title {
                    font-size: $font-size-xl - 2px;
                }

                .page-description {
                    font-size: $font-size-md;
                }

                .page-intro-buttons {
                    button {
                        min-width: 120px;
                        padding: 7px 18px;
                        font-size: $font-size-sm;

                    }
                }
            }

            .intro-image {
                img {
                    height: 130px;
                    cursor: pointer;
                }
            }
        }
    }
}

@include respond-to("pre-sm") {
    #page-instroduction {
        .call-to-acltion-container {
            padding: $spacing-md $spacing-lg + 10px $spacing-lg + 10px;

            .intro-text {
                row-gap: 0px;

                .page-description {
                    font-size: $font-size-sm;
                }

                .page-intro-buttons {

                    button {
                        min-width: 110px;
                        padding: 7px 14px;
                        font-size: $font-size-xs;
                    }
                }
            }

            .intro-image {
                img {
                    height: 115px;
                    cursor: pointer;
                }
            }
        }
    }
}

@include respond-to("pro-xs") {
    #page-instroduction {
        .current-weather-container {
            padding: $spacing-sm + 5px $spacing-lg 0 0;
        }

        .call-to-acltion-container {
            grid-template-columns: 1fr;
            padding: $spacing-xs $spacing-lg + 10px $spacing-lg + 15px;

            .intro-text {
                row-gap: 5px;
                text-align: center;

                .page-title {
                    font-size: $font-size-xl - 2px;
                }

                .page-description {
                    font-size: $font-size-md;
                }

                .page-intro-buttons {
                    justify-content: center;

                    button {
                        min-width: 80px;
                        padding: 6px 14px;
                        font-size: $font-size-xs;
                    }
                }
            }

            .intro-image {
                display: none;

            }
        }
    }
}