
/* ------------ LIGHT THEME COLORS ------------ */

/* -- FONT FAMILY -- */
$font-stack: 'Helvetica Neue', Arial, sans-serif;

/* -- LIGHT FONT COLORS -- */
$light-neutral-font-color: #ffffff;
$light-default-font-color: #415a77;
$light-primary-font-color: #284b63;
$light-secondery-font-color: #778da9;
$light-tertiary-font-color: #e0e1dd;

/* -- FONT SIZES -- */
$font-size-xxs: 8px;
$font-size-xs: 10px;
$font-size-sm: 13px;
$font-size-md: 14px;
$font-size-lg: 18px;
$font-size-xl: 26px;
$font-size-xxl: 32px;

/* -- LIGHT BACKGROUND COLORS -- */
$light-neutral-bg-color: #ffffff;
$light-primary-bg-color: #f8f9fa;
$light-secondery-bg-color: #e5e5e5;
$light-tertiary-bg-color: #778da9;


/* -- NEUTRAL COLORS -- */
$comp-default-font-color: #9b2226;
$light-dark-bg-color: #284b63;

/* -- SPACING SIZES -- */
$spacing-xs: 6px;
$spacing-sm: 10px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

$light-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

/* -- MEDIA QUERY BREAKPOINTS -- */
$breakpoints: (
  "pre-xs": 375px,
  "xs": 480px,
  "pro-xs": 550px,
  "pre-sm": 680px,
  "sm": 768px,
  "pro-sm": 920px,
  "md": 992px,
  "lg": 1200px,
  "xl": 1400px
);