
<!-- container grid-area -->
<div id="site-grid-container" class="site-grid-container">

<!-- header grid-area -->
<header id="grid-area-header" class="grid-area-header">
    <app-site-identity></app-site-identity>
</header>

<!-- carousel grid-area -->
<div id="grid-area-carousel" class="grid-area-carousel">
    <app-carousel></app-carousel>
</div>

<!-- navigation grid-area -->
<nav id="grid-area-navbar" class="grid-area-navbar">
    <app-navbar></app-navbar>
</nav>

<!-- page-intro grid-area -->
<div id="grid-area-page-intro" class="grid-area-page-intro">
    <app-page-introduction></app-page-introduction>
</div>

<!-- main content grid-area -->
<main id="grid-area-main-content" class="grid-area-main-content">
    The main element identifies the main content of the document. 
    There should be only one main per page.
</main>

<!-- footer grid-area -->
<footer id="grid-area-footer" class="grid-area-footer">
    <app-footer></app-footer>
</footer>

</div>
