@use 'abstracts' as *;

#about-page-main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    font-size: $font-size-sm;

    //hr line styles
    @include page-content-intro-hr;

    //standard local styles
    .about-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 25px;
        column-gap: 15px;
        text-align: left;
        padding: 0 $spacing-sm;

        .about-container {

            .set-heading {
                margin-bottom: $spacing-xs + 4px;
                text-transform: uppercase;
                background-color: $light-primary-bg-color;
                border-radius: $spacing-xs;
                padding: $spacing-xs $spacing-sm;
                font-weight: bold;
            }

            .set-container {
                padding: 4px $spacing-sm;
                font-size: $font-size-md;
            }
        }
    }

    @include respond-to("xs") {
        .about-content {
            grid-template-columns: 1fr;
            row-gap: 15px;
            padding: $spacing-xs 0;
        }

        .button-content {
            .explore-projects-button {
                font-size: $font-size-sm;
                width: 100%;
                padding: 7px 10px;
            }
        }
    }

}