@use 'abstracts' as *;

#about-page-main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;

    //hr line styles
    @include page-content-intro-hr;

    //standard local styles
    .about-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 25px;
        column-gap: 15px;
        text-align: left;
        padding: 0 $spacing-sm;

        .about-container {

            .set-heading {
                margin-bottom: $spacing-xs + 4px;
                text-transform: uppercase;
                background-color: $light-primary-bg-color;
                border-radius: $spacing-xs;
                padding: $spacing-xs $spacing-sm;
                font-weight: bold;
            }

            .set-container {
                padding: 4px $spacing-sm;
                 i {
                        padding-right: 3px;
                        color: brown;
                    }
            }

            .btn-container {
                .explore {
                    display: none;
                    margin: $spacing-md 0;
                }
            }
        }
    }

    @include respond-to("xs") {

        .about-content {
            grid-template-columns: 1fr;
            row-gap: 15px;
            padding: 0;
            text-align: center;

            border: 1px solid #e5e5e5;
            padding: $spacing-sm + 2px;
            border-radius: $spacing-xs;

            .about-container {
                text-align: center;

                i {
                    display: none;
                }

                .btn-container {
                    text-align: center;

                    .explore {
                        display: block;
                        text-transform: uppercase;
                        padding: $spacing-xs;
                        background-color: red;
                        margin: $spacing-sm $spacing-lg 0 ;
                        border-radius: $spacing-xs;
                        color: $light-neutral-font-color;
                    }
                }
            }
        }
    }
}