@use 'abstracts' as *;

#about-page-main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;

    //hr line styles
    @include page-content-intro-hr;

    //standard local styles
    .about-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 25px;
        column-gap: 15px;
        text-align: left;

        .about-container {

            border: none;
            padding: $spacing-sm $spacing-sm ;
            cursor: pointer;

            box-shadow: $light-box-shadow;
            padding: $spacing-sm;
            border-radius: $spacing-xs;

            .set-heading {
                margin-bottom: $spacing-xs + 4px;
                text-transform: uppercase;
                background-color: $light-primary-bg-color;
                border-radius: $spacing-xs;
                padding: $spacing-xs $spacing-sm;
                font-weight: bold;

            }

            .set-container {
                padding: 4px $spacing-sm;
                  font-size: $font-size-md;

                i {
                    padding-right: 3px;
                    color: brown;
                }
            }

            .btn-container {
                .explore {
                    display: none;
                    margin: $spacing-md 0;
                }
            }

            &:hover {
                box-shadow: $light-hover-box-shadow;
            }
        }
    }

    @include respond-to("xs") {

        .about-content {
            grid-template-columns: 1fr;
            row-gap: 15px;
            padding: 0;
            text-align: center;

            .about-container {
                text-align: center;

                i {
                    display: none;
                }

                .btn-container {
                    text-align: center;

                    .explore {
                        display: block;
                        text-transform: uppercase;
                        padding: $spacing-xs;
                        background-color: red;
                        margin: $spacing-md 15% 0;
                        border-radius: $spacing-xs;
                        color: $light-neutral-font-color;
                    }
                }
            }
        }
    }
}