@use 'abstracts' as *;

#contact-page-main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    font-size: $font-size-sm;
    margin-bottom: 15px;

    //hr line styles
    @include page-content-intro-hr;

    .contact-form-container {
        box-shadow: $light-box-shadow;
        border-radius: $spacing-xs;
        border: none;
        padding: $spacing-sm $spacing-sm ;


        form {
            padding: 0 $spacing-sm;
            display: grid;
            row-gap: 10px;
            grid-template-columns: 1fr;
            margin-bottom: 15px;
            position: relative;

            #spinner-container {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
            .invalid-form-message {
                color: $error-color;
                font-size: $font-size-md + 2px;
                margin-top: 10px;
            }

            .contact-info {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 15px;

                fieldset {
                    border: 1px solid #e5e5e5;
                    margin-bottom: 10px;
                    padding: 0 $spacing-md 12px;
                    display: flex;
                    flex-direction: column;
                    text-align: left;

                    legend {
                        padding: 8px;
                        font-size: $font-size-sm + 2px;
                    }

                    .form-control-group {
                        margin: 7px 0px 7px 0px;

                        .input-form-control {
                            padding: 6px 8px 8px;
                            min-width: 100%;
                            border: 1px solid #e5e5e5;

                            &::placeholder {
                                font-size: 12px;
                                color: lightgrey;
                            }

                            &:focus {
                                border-color: red;
                                outline: none;
                            }
                        }

                        textarea {
                            resize: none;
                            margin-bottom: -6px;

                            &:focus {
                                border-color: red;
                            }

                            &::placeholder {
                                @include global-font-Ubuntu-light;
                                font-size: 11px;
                                color: lightgrey;
                            }
                        }

                        .form-validation-error-message {
                            color: $error-color;
                            font-size: small;
                            font-weight: normal;
                            margin-top: 6px;
                        }
                    }
                }
            }

            .contact-buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                column-gap: 15px;

                .button {
                    padding: 4px 20px;
                    border: none;
                    color: #fff;
                    cursor: pointer;
                    text-transform: uppercase;
                    border-radius: $spacing-xs - 2px;

                    &:hover {
                        background-color: $comp-default-font-color;
                    }
                }

                .submit-button {
                    background-color: red;
                }

                .reset-button {
                    background-color: $light-tertiary-bg-color;
                }
            }
        }
    }

    @include respond-to("sm") {

        .contact-form-container {
            margin-top: -5px;

            form {
                padding: 0;
                margin-top: 0;

                .contact-info {
                    grid-template-columns: 1fr;

                    fieldset {
                        padding: 0 $spacing-sm 12px;
                    }
                }

                .contact-buttons {
                    justify-content: center;

                    .button {
                        font-size: $font-size-xs + 1px;
                    }

                }
            }
        }
    }

      @include respond-to("xs") {
        margin-bottom: -10px;
    }
}