@use 'abstracts' as *;

#contact-page-main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    font-size: $font-size-sm;

    //hr line styles
    @include page-content-intro-hr;

    .contact-form-container {
        box-shadow: $light-box-shadow;
        border-radius: $spacing-xs;
        border: none;
        padding: $spacing-sm  $spacing-sm ;

        form {
            padding: 0 $spacing-sm;
            display: grid;
            row-gap: 10px;
            grid-template-columns: 1fr;
            margin-bottom: 15px;

            .contact-info {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 15px;

                fieldset {
                    border: 1px solid lightgrey;
                    margin-bottom: 10px;
                    padding: 0 $spacing-md 12px;
                    display: flex;
                    flex-direction: column;
                    text-align: left;

                    legend {
                        padding: 8px;
                        font-size: $font-size-sm + 2px;
                    }

                    .form-control-group {
                        margin: 7px 0px 7px 0px;

                        .input-form-control {
                            padding: 6px 8px 8px;
                            min-width: 100%;
                            border: 1px solid lightgrey;

                            &::placeholder {
                                font-size: 11px;
                                color: lightgrey;
                            }
                        }

                        textarea {
                            resize: none;
                            margin-bottom: -6px;

                            &:focus {
                                border-color: red;
                            }

                            &::placeholder {
                                font-family: $font-stack;
                                font-size: 11px;
                                color: lightgrey;
                            }
                        }

                        .form-validation-error-message {
                            color: $error-color;
                            font-size: small;
                            font-weight: normal;
                            margin-top: 6px;
                        }
                    }
                }
            }

            .contact-buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                column-gap: 15px;

                .button {
                    padding: 6px 20px;
                    border: none;
                    color: #fff;
                    cursor: pointer;
                    text-transform: uppercase;
                    border-radius: $spacing-xs - 1px;
                }

                .submit-button {
                    background-color: red;
                }

                .reset-button {
                    background-color: $light-tertiary-bg-color;
                }
            }
        }
    }

    @include respond-to("sm") {

        .contact-form-container {
            margin-top: -5px;

            form {
                padding: 0;
                margin-top: 0;

                .contact-info {
                    grid-template-columns: 1fr;

                    fieldset {
                        padding: 0 $spacing-sm 12px;
                    }
                }

                .contact-buttons {
                    justify-content: center;

                    .button {
                        font-size: $font-size-xs + 1px;
                    }

                }
            }
        }
    }
}