@use 'abstracts' as *;

#homepage-containter {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 25px;

    //cards section
    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        padding: $spacing-md;

        .card {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            cursor: pointer;

            width: 240px;
            min-height: 100%;
            padding: $spacing-lg;
            border-radius: $spacing-sm;
            background-color: $light-primary-bg-color;

            .card-icon {
                margin-bottom: 10px;

                .bi {
                    font-size: 1.2rem;
                    border-radius: 29px;
                    height: 46px;
                    width: 40px;

                    color: $light-neutral-font-color;
                    background-color: $light-dark-bg-color;
                    padding: 11px 13px;

                }

            }

            .card-title {
                text-transform: uppercase;
                color: $comp-default-font-color;
            }

            .card-button {
                .explore {

                    background-color: #ff8fab;
                    min-width: 100px;
                    padding: 5px 20px;
                    text-transform: uppercase;
                    color: $light-neutral-font-color;
                    cursor: pointer;
                    border: none;
                    border-radius: $spacing-xs;

                    &:hover {
                        background-color: red;
                    }
                }
            }

            &.card-git {
                display: none;
            }
        }

    }

    .featured-items-hr {
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        padding: 0 15em;
        font-size: $font-size-lg;
        margin-bottom: $spacing-xs;

        &::before,
        &::after {
            content: '';
            flex: 1;
            border-bottom: 1px solid lightgrey;
        }

        &:not(:empty)::before {
            margin-right: 1.50em;
        }

        &:not(:empty)::after {
            margin-left: 1.50em;
        }
    }

    //features section
    .feeds-container {
        display: grid;
        grid-template-columns: 6fr 4fr;
        column-gap: 20px;

        .feed {
            border: 1px solid $light-border-color;
            padding: $spacing-md;
            border-radius: $spacing-sm;
        }

        .recent-project-container {
            display: flex;
            flex-direction: row;
            column-gap: 15px;

            .recent-project-img {
                cursor: pointer;

                .project-img {
                    height: 130px;
                    border-radius: $spacing-xs;
                }

                .project-img-buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    column-gap: 10px;

                    .img-button {
                        font-size: $font-size-sm;
                        padding: 3px 12px;
                        border-radius: 6px;


                        &.github {
                            background-color: $light-secondery-font-color;
                            color: #fff;
                        }

                        &.view {
                            background-color: orange;
                            color: #fff;
                        }
                    }
                }
            }

            .project-details {
                display: flex;
                flex-direction: column;
                width: 100%;

                .details {
                    text-align: left;
                    // font-size: $font-size-md;
                }

                .prject-name {
                    text-transform: uppercase;
                    margin-bottom: $spacing-xs;
                }

                .project-description {
                    margin-bottom: $spacing-xs;
                    color: $comp-default-font-color;
                    border-left: 6px solid red;
                    padding-left: $spacing-sm;
                }

                .tech-stack {
                    .project-tech {
                        font-weight: bold;
                        margin-bottom: $spacing-xs;
                    }

                    .project-tech-item {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        padding-left: $spacing-sm;
                        flex-wrap: wrap;
                        background-color: $light-primary-bg-color;
                        padding: $spacing-sm;
                        border-radius: $spacing-xs;

                        .tech-item {
                            height: 24px;
                            padding: $spacing-xs - 2px;
                            background-color: $light-secondery-bg-color;
                            border-radius: 8px;
                            font-size: $font-size-sm;
                            color: $comp-default-font-color;
                        }

                    }
                }
            }
        }

        .news-feed-container {
            display: flex;
            flex-direction: column;
            text-align: left;
            row-gap: 8px;

            .feed-title {
                text-transform: uppercase;
            }

            .news-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 15px;
                border-radius: $spacing-xs;

                .news {
                    cursor: pointer;

                    .news-img {
                        height: 70px;
                        width: 100%;
                        border-radius: $spacing-xs;
                    }

                    .news-headline {
                        text-transform: uppercase;
                        font-size: $font-size-sm - 2px;
                        font-weight: bold;
                        background-color: $light-primary-bg-color;
                        border-radius: $spacing-xs;
                        padding: $spacing-xs $spacing-xs $spacing-xs $spacing-sm;

                        &:hover {
                            background-color: red;
                            color: #fff;
                        }
                    }

                    .news-button {
                        padding: $spacing-xs - 2px $spacing-md - 3px;
                        background-color: orange;
                        color: #fff;
                    }
                }
            }

            .weather-container {
                display: inline;
                // height: 26px;
                padding: $spacing-xs - 1px;
                padding-left: $spacing-xs + 1px;
                background-color: $light-primary-bg-color;
                // border-radius: 8px;
                font-size: $font-size-sm;
                color: $comp-default-font-color;
                // text-align: center;

                .weather-item {
                    margin-right: 5px;
                    font-size: $font-size-sm ;

                    &.title {
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }

            }
        }
    }

    //Media queries for responsive design
    @include respond-to("md") {

        //features section
        .feeds-container {
            .recent-project-container {
                .project-details {
                    .tech-stack {
                        .project-tech-item {
                            .tech-item {
                                font-size: $font-size-xs;
                            }
                        }
                    }
                }
            }

            .news-feed-container {

                .news-container {
                    .news {
                        .news-img {
                            height: 60px;
                            width: 100%;
                        }

                        .news-headline {
                            text-transform: uppercase;
                            font-size: $font-size-xs;
                            font-weight: bold;
                            background-color: $light-primary-bg-color;
                            padding: $spacing-xs;
                        }

                        .news-button {
                            padding: $spacing-xs - 2px $spacing-md - 3px;
                            background-color: orange;
                            color: #fff;
                        }
                    }
                }

                .weather-container {
                    .weather-item {
                        padding: $spacing-xs;
                        padding-right: $spacing-xs - 4px;
                        font-size: $font-size-sm;

                        &.title {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @include respond-to("pro-sm") {

        .cards-container {
            justify-content: space-evenly;
            padding-top: $spacing-md;
            column-gap: 5px;

            .card {
                column-gap: 5px;

                .card-description {
                    min-height: 35%;
                }

                .card {
                    width: 55%;
                }

                &.card-git {
                    display: none;
                }
            }
        }

        .featured-items-hr {
            padding: 0 10em;

            &:not(:empty)::before {
                margin-right: 1.50em;
            }

            &:not(:empty)::after {
                margin-left: 1.50em;
            }
        }

        //features section
        .feeds-container {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 15px;

            .feed {
                border: 1px solid $light-border-color;
                padding: $spacing-md;
            }

            .recent-project-container {
                display: flex;
                flex-direction: row;
                column-gap: 15px;

                .recent-project-img {

                    .project-img {
                        height: 130px;
                    }

                    .project-img-buttons {
                        display: flex;
                        flex-direction: row;
                        column-gap: 5px;
                        justify-content: space-around;

                        .img-button {
                            padding: $spacing-xs - 2px $spacing-md - 3px;
                            // border-radius: $spacing-xs;
                            font-size: $font-size-sm;

                            &.github {
                                background-color: $light-secondery-font-color;
                                color: #fff;
                            }

                            &.view {
                                background-color: orange;
                                color: #fff;
                            }
                        }
                    }
                }

                .project-details {
                    // border: 1px solid $light-border-color;
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .details {
                        text-align: left;
                        // font-size: $font-size-md;
                    }

                    .prject-name {
                        // font-weight: bold;
                        text-transform: uppercase;
                        margin-bottom: $spacing-xs;
                    }

                    .project-description {
                        margin-bottom: $spacing-xs;
                        color: $comp-default-font-color;
                    }

                    .tech-stack {
                        .project-tech {
                            font-weight: bold;
                            margin-bottom: $spacing-xs;
                        }

                        .project-tech-item {
                            display: flex;
                            flex-direction: row;
                            gap: 5px;
                            padding-left: $spacing-sm;
                            flex-wrap: wrap;
                            background-color: $light-primary-bg-color;
                            padding: $spacing-sm;
                            border-radius: $spacing-xs;

                            .tech-item {
                                height: 24px;
                                padding: $spacing-xs - 2px;
                                background-color: $light-secondery-bg-color;
                                border-radius: 8px;
                                font-size: $font-size-sm;
                                color: $comp-default-font-color;
                            }

                        }
                    }
                }
            }

            .news-feed-container {

                .feed-title {
                    text-transform: uppercase;
                }

                .news-container {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    column-gap: 25px;

                    .news {
                        .news-img {
                            height: 146px;
                            width: 100%;
                        }

                        .news-headline {
                            text-transform: uppercase;
                            font-size: $font-size-sm;
                            // font-weight: bold;
                            background-color: $light-primary-bg-color;
                            padding: $spacing-xs;
                            padding-left: $spacing-sm;

                        }

                        .news-button {
                            padding: $spacing-xs - 2px $spacing-md - 3px;
                            background-color: orange;
                            color: #fff;
                        }
                    }
                }

                .weather-container {
                    padding: $spacing-sm;

                    .weather-item {

                        //  padding: $spacing-xs;
                        &.title {
                            display: inline;
                        }
                    }
                }
            }
        }
    }

    @include respond-to("sm") {

        .cards-container {

            .card-description {
                min-height: 35%;
            }

            // font-size: $font-size-sm;
            .card {
                width: 95%;
            }
        }

        .featured-items-hr {
            padding: 0 7em;

            &:not(:empty)::before {
                margin-right: 1.50em;
            }

            &:not(:empty)::after {
                margin-left: 1.50em;
            }
        }

        //features section
        .feeds-container {

            .feed {
                border: 1px solid $light-border-color;
                padding: $spacing-md;
            }

            .recent-project-container {
                display: flex;
                flex-direction: row;
                column-gap: 15px;

                .recent-project-img {

                    .project-img {
                        height: 130px;
                    }

                    .project-img-buttons {
                        display: flex;
                        flex-direction: row;
                        column-gap: 5px;
                        justify-content: space-around;

                        .img-button {
                            padding: $spacing-xs - 2px $spacing-md - 3px;
                            // border-radius: $spacing-xs;
                            font-size: $font-size-sm;

                            &.github {
                                background-color: $light-secondery-font-color;
                                color: #fff;
                            }

                            &.view {
                                background-color: orange;
                                color: #fff;
                            }
                        }
                    }
                }

                .project-details {
                    // border: 1px solid $light-border-color;
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .details {
                        text-align: left;
                        // font-size: $font-size-md;
                    }

                    .prject-name {
                        // font-weight: bold;
                        text-transform: uppercase;
                        margin-bottom: $spacing-xs;
                    }

                    .project-description {
                        margin-bottom: $spacing-xs;
                        color: $comp-default-font-color;
                    }

                    .tech-stack {
                        .project-tech {
                            font-weight: bold;
                            margin-bottom: $spacing-xs;
                        }

                        .project-tech-item {
                            display: flex;
                            flex-direction: row;
                            gap: 5px;
                            padding-left: $spacing-sm;
                            flex-wrap: wrap;
                            background-color: $light-primary-bg-color;
                            padding: $spacing-sm;
                            border-radius: $spacing-xs;

                            .tech-item {
                                height: 24px;
                                padding: $spacing-xs - 2px;
                                background-color: $light-secondery-bg-color;
                                border-radius: 8px;
                                font-size: $font-size-sm;
                                color: $comp-default-font-color;
                            }

                        }
                    }
                }
            }

            .news-feed-container {
                display: flex;
                flex-direction: column;
                text-align: left;
                row-gap: 10px;

                .feed-title {
                    text-transform: uppercase;
                }

                .news-container {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    column-gap: 20px;

                    .news {
                        .news-img {
                            height: 125px;
                            width: 100%;
                        }

                        .news-headline {}

                        .news-button {
                            padding: $spacing-xs - 2px $spacing-md - 3px;
                            background-color: orange;
                            color: #fff;
                        }
                    }
                }

                .weather-container {
                    display: inline;
                    // height: 26px;
                    padding: $spacing-xs - 1px;
                    padding-left: $spacing-xs + 1px;
                    background-color: $light-primary-bg-color;
                    // border-radius: 8px;
                    font-size: $font-size-sm;
                    color: $comp-default-font-color;
                    // text-align: center;

                    .weather-item {
                        margin-right: 5px;
                        font-size: $font-size-sm + 1px;

                        &.title {
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }

                }
            }
        }
    }

    @include respond-to("pre-sm") {

        .cards-container {
            .card-title {
                font-size: $font-size-sm + 2px;
            }

            .card-description {
                font-size: $font-size-sm;
            }
        }

        .featured-items-hr {
            padding: 0 5em;

            &:not(:empty)::before {
                margin-right: 1.50em;
            }

            &:not(:empty)::after {
                margin-left: 1.50em;
            }
        }

        //features section
        .feeds-container {

            .feed {
                border: 1px solid $light-border-color;
                padding: $spacing-md;
            }

            .recent-project-container {


                .recent-project-img {

                    .project-img {
                        height: 120px;
                    }
                }

                .project-details {
                    // border: 1px solid $light-border-color;
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .details {
                        text-align: left;
                        // font-size: $font-size-md;
                    }

                    .prject-name {
                        // font-weight: bold;
                        text-transform: uppercase;
                        margin-bottom: $spacing-xs - 2px;
                    }

                    .project-description {
                        margin-bottom: $spacing-xs;
                        color: $comp-default-font-color;
                    }

                    .tech-stack {
                        .project-tech {
                            font-weight: bold;
                            margin-bottom: $spacing-xs;
                            font-size: $font-size-sm;
                        }

                        .project-tech-item {

                            .tech-item {
                                height: 24px;
                                padding: $spacing-xs - 2px;
                                background-color: $light-secondery-bg-color;
                                border-radius: 8px;
                                font-size: $font-size-xs;
                                color: $comp-default-font-color;
                            }

                        }
                    }
                }
            }

            .news-feed-container {
                display: flex;
                flex-direction: column;
                text-align: left;
                row-gap: 10px;

                .feed-title {
                    text-transform: uppercase;
                }

                .news-container {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    column-gap: 20px;

                    .news {
                        .news-img {
                            height: 100px;
                            width: 100%;
                        }

                        .news-headline {
                            // text-transform: uppercase;
                            // font-size: $font-size-sm - 2px;
                            // font-weight: bold;
                            // background-color: $light-primary-bg-color;
                            // padding: $spacing-xs;
                        }

                        .news-button {
                            padding: $spacing-xs - 2px $spacing-md - 3px;
                            background-color: orange;
                            color: #fff;
                        }
                    }
                }

                .weather-container {
                    display: inline;
                    // height: 26px;
                    padding: $spacing-xs - 1px;
                    padding-left: $spacing-xs + 1px;
                    background-color: $light-primary-bg-color;
                    // border-radius: 8px;
                    font-size: $font-size-sm;
                    color: $comp-default-font-color;
                    // text-align: center;

                    .weather-item {
                        margin-right: 5px;
                        font-size: $font-size-sm + 1px;

                        &.title {
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }

                }
            }
        }
    }

    @include respond-to("pro-xs") {

        .cards-container {
            padding: 0;

            .card {
                width: 95%;
                font-size: $font-size-sm;

                .card-description {
                    min-height: 34%;
                }

                .card-button {
                    .explore {
                        font-size: $font-size-xs;
                    }
                }
            }
        }

        .featured-items-hr {
            padding: 0 4em;
        }

        //features section
        .feeds-container {


            .recent-project-container {
                display: flex;
                flex-direction: row;
                column-gap: 15px;

                .recent-project-img {
                    display: none;
                }

                .project-details {
                    // border: 1px solid $light-border-color;
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .details {
                        text-align: left;
                        // font-size: $font-size-md;
                    }

                    .prject-name {
                        // font-weight: bold;
                        text-transform: uppercase;
                        margin-bottom: $spacing-xs;
                    }

                    .project-description {
                        margin-bottom: $spacing-xs;
                        color: $comp-default-font-color;
                    }

                    .tech-stack {
                        .project-tech {
                            font-weight: bold;
                            margin-bottom: $spacing-xs;
                        }

                        .project-tech-item {
                            display: flex;
                            flex-direction: row;
                            gap: 5px;
                            padding-left: $spacing-sm;
                            flex-wrap: wrap;
                            background-color: $light-primary-bg-color;
                            padding: $spacing-sm;
                            border-radius: $spacing-xs;

                            .tech-item {
                                height: 24px;
                                padding: $spacing-xs - 2px;
                                background-color: $light-secondery-bg-color;
                                border-radius: 8px;
                                font-size: $font-size-sm;
                                color: $comp-default-font-color;
                            }

                        }
                    }
                }
            }

            .news-feed-container {
                .feed-title {
                    text-transform: uppercase;
                }

                .news-container {

                    .news {
                        .news-img {
                            height: 75px;
                            width: 100%;
                        }

                        .news-headline {
                            // text-transform: uppercase;
                            font-size: $font-size-sm - 1px;
                            font-weight: normal;
                            // background-color: $light-primary-bg-color;
                            // padding: $spacing-xs;
                        }

                        .news-button {
                            padding: $spacing-xs - 2px $spacing-md - 3px;
                            background-color: orange;
                            color: #fff;
                        }
                    }
                }

                .weather-container {
                    display: inline;
                    // height: 26px;
                    padding: $spacing-xs - 1px;
                    padding-left: $spacing-xs + 1px;
                    background-color: $light-primary-bg-color;
                    // border-radius: 8px;
                    font-size: $font-size-xs;
                    color: $comp-default-font-color;
                    // text-align: center;

                    .weather-item {
                        margin-right: 5px;
                        font-size: $font-size-sm + 1px;

                        &.title {
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }

                }
            }
        }
    }

    @include respond-to("xs") {

        .cards-container {

            grid-template-columns: 1fr 1fr;
            gap: 8px;
            justify-content: space-between;
            padding: 0;

            .card {

                width: 100%;
                font-size: $font-size-sm;

                .card-icon {
                    margin-bottom: 10px;

                    .bi {
                        font-size: 0.8rem;
                        border-radius: 29px;
                        height: 46px;
                        width: 40px;

                        color: $light-neutral-font-color;
                        background-color: $light-dark-bg-color;
                        padding: 10px 12px;

                    }

                }


                .card-description {
                    min-height: 32%;
                }

                &.card-git {
                    display: block;
                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;
                }
            }
        }

        .featured-items-hr {
            padding: 0 3em;
            font-size: $font-size-md + 2px;
        }

        //features section
        .feeds-container {


            .recent-project-container {

                .recent-project-img {
                    display: none;
                }

                .project-details {
                    // border: 1px solid $light-border-color;
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .details {
                        text-align: left;
                        // font-size: $font-size-md;
                    }

                    .prject-name {
                        // font-weight: bold;
                        text-transform: uppercase;
                        margin-bottom: $spacing-xs;
                    }

                    .project-description {
                        margin-bottom: $spacing-xs;
                        color: $comp-default-font-color;
                    }

                    .tech-stack {
                        .project-tech {
                            font-weight: bold;
                            margin-bottom: $spacing-xs;
                        }

                        .project-tech-item {
                            display: flex;
                            flex-direction: row;
                            gap: 5px;
                            padding-left: $spacing-sm;
                            flex-wrap: wrap;
                            background-color: $light-primary-bg-color;
                            padding: $spacing-sm;
                            border-radius: $spacing-xs;

                            .tech-item {
                                height: 24px;
                                padding: $spacing-xs - 2px;
                                background-color: $light-secondery-bg-color;
                                border-radius: 8px;
                                font-size: $font-size-xs;
                                color: $comp-default-font-color;
                            }

                        }
                    }
                }
            }

            .news-feed-container {
                .feed-title {
                    text-transform: uppercase;
                }

                .news-container {
                    column-gap: 10px;

                    .news {
                        .news-img {
                            height: 65px;
                            width: 100%;
                        }

                        .news-headline {
                            // text-transform: uppercase;
                            font-size: $font-size-sm - 4px;
                            font-weight: normal;
                            // background-color: $light-primary-bg-color;
                            // padding: $spacing-xs;
                        }

                        .news-button {
                            padding: $spacing-xs - 2px $spacing-md - 3px;
                            background-color: orange;
                            color: #fff;
                        }
                    }
                }

                .weather-container {
                    padding: $spacing-xs;
                    font-size: $font-size-xs;

                    .weather-item {
                        margin-right: 0px;
                        font-size: $font-size-sm - 1px;

                        &.title {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @include respond-to("pre-xs") {
        .featured-items-hr {
            padding: 0 2em;

        }
    }


}