@use 'abstracts' as *;

#home-page-main {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 15px;
    font-size: $font-size-sm;

    //cards section
    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 25px;
        justify-items: center;
        font-size: $font-size-sm + 2px;

        .card {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            cursor: pointer;

            width: 210px;
            padding: $spacing-md;
            border-radius: $spacing-md;
            background-color: $light-primary-bg-color;

            .card-icon {
                margin: 8px 0;

                .bi {
                    font-size: 1.2rem;
                    border-radius: 29px;
                    height: 46px;
                    width: 40px;

                    color: $light-neutral-font-color;
                    background-color: $light-dark-bg-color;
                    padding: 11px 13px;

                }
            }

            .card-title {
                text-transform: uppercase;
                color: $comp-default-font-color;
                font-weight: bold;
            }

            .card-button {
                .explore {
                    background-color: #ff8fab;
                    min-width: 100px;
                    padding: 5px 20px;
                    text-transform: uppercase;
                    color: $light-neutral-font-color;
                    cursor: pointer;
                    border: none;
                    border-radius: $spacing-xs;
                    font-size: $font-size-xs;
                }
            }

            &.card-git {
                display: none;
            }

            &:hover {
                .explore {
                    background-color: red;
                }
            }
        }
    }

    //hr line styles
    @include page-content-intro-hr;

    //features section
    .feeds-container {
        display: grid;
        grid-template-columns: 7fr 4fr;
        padding: 0 $spacing-md;
        column-gap: 15px;

        .recent-project-container {
            display: grid;
            grid-template-columns: 1fr;
            text-align: left;

            .details-heading {
                margin-bottom: $spacing-xs + 4px;
                text-transform: uppercase;
                background-color: $light-primary-bg-color;
                border-radius: $spacing-xs;
                padding: $spacing-xs $spacing-sm;
                font-weight: bold;
            }

            .recent-project-details {
                display: grid;
                grid-template-columns: 1fr 4fr;
                column-gap: 15px;

                .recent-project-img {
                    cursor: pointer;

                    .project-img {
                        height: 135px;
                        border-radius: $spacing-xs;
                    }

                    .project-img-buttons {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        column-gap: 10px;

                        .img-button {
                            font-size: $font-size-sm;
                            padding: 3px 12px;
                            border-radius: $spacing-xs;


                            &.github {
                                background-color: $light-secondery-font-color;
                                color: #fff;
                            }

                            &.view {
                                background-color: orange;
                                color: #fff;
                            }
                        }
                    }
                }

                .project-details {
                    display: flex;
                    flex-direction: column;

                    .details {
                        text-align: left;
                    }

                    .heading {
                        margin-bottom: $spacing-xs;
                        text-transform: uppercase;
                        background-color: $light-primary-bg-color;
                        border-radius: 0 $spacing-xs $spacing-xs 0;
                        border-left: 5px solid red;
                        padding: $spacing-xs $spacing-sm;
                    }

                    .project-description {

                        display: grid;
                        grid-template-columns: 1fr;
                        row-gap: 6px;
                        font-size: $font-size-sm;

                        .description {
                            background-color: $light-primary-bg-color;
                            padding: $spacing-sm;
                            border-radius: $spacing-xs;

                            .read-more {
                                display: none;
                                color: red;
                            }
                        }

                        .online-options {
                            display: flex;
                            flex-direction: row;
                            gap: 10px;
                            flex-wrap: wrap;
                            margin-top: 5px;

                            .online {
                                padding: $spacing-xs - 3px $spacing-md $spacing-xs - 3px $spacing-sm;
                                background-color: $light-secondery-bg-color;
                                border-radius: $spacing-xs - 1px;
                                font-size: $font-size-xs;
                                min-width: 90px;
                                background-color: brown;
                                color: $light-neutral-font-color;
                            }
                        }


                    }
                }

            }
        }

        .news-feed-container {
            display: flex;
            flex-direction: column;
            text-align: left;
            row-gap: 8px;

            .feed-title {
                text-transform: uppercase;
                background-color: $light-primary-bg-color;
                border-radius: $spacing-xs;
                padding: $spacing-xs $spacing-sm;
                font-weight: bold;
            }

            .news-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 8px;
                border-radius: $spacing-xs;

                .news {
                    cursor: pointer;

                    .news-img {
                        height: 70px;
                        width: 100%;
                        border-radius: $spacing-xs;
                    }

                    .news-headline {
                        text-transform: uppercase;
                        font-size: $font-size-sm - 2px;
                        font-weight: bold;
                        background-color: $light-secondery-bg-color;
                        border-radius: $spacing-xs - 1px;
                        padding: $spacing-xs $spacing-xs $spacing-xs $spacing-sm;

                        &:hover {
                            background-color: red;
                            color: #fff;
                        }
                    }
                }
            }

            .weather-container {
                display: inline;
                // height: 26px;
                padding: $spacing-xs - 1px;
                padding-left: $spacing-xs + 1px;
                background-color: $light-primary-bg-color;
                border-radius: $spacing-xs;
                font-size: $font-size-sm;
                color: $comp-default-font-color;
                // text-align: center;

                .weather-item {
                    margin-right: 5px;
                    font-size: $font-size-sm ;

                    &.title {
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }

            }
        }
    }

    //Media queries for responsive design
    @include respond-to("md") {

        //features section
        .feeds-container {
            .news-feed-container {
                .news-container {
                    .news {
                        .news-img {
                            height: 60px;
                        }

                        .news-headline {
                            font-size: $font-size-xs - 1px;
                        }

                    }
                }

                .weather-container {
                    .weather-item {
                        padding: $spacing-xs;
                        padding-right: $spacing-xs - 6px;
                        font-size: $font-size-sm;

                        &.title {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @include respond-to("pro-sm") {

        .cards-container {
            justify-content: space-evenly;
            padding-top: $spacing-md;
            column-gap: 5px;

            .card {
                column-gap: 5px;

                .card-description {
                    min-height: 25%;
                }

                .card {
                    width: 55%;
                }

                &.card-git {
                    display: none;
                }
            }
        }

        //features section
        .feeds-container {
            grid-template-columns: 1fr;
            row-gap: 20px;

            .news-feed-container {
                .news-container {
                    column-gap: 25px;

                    .news {
                        .news-img {
                            height: 146px;
                        }
                    }
                }

                .weather-container {
                    .weather-item {
                        &.title {
                            display: inline;
                        }
                    }
                }
            }
        }
    }

    @include respond-to("sm") {

        .cards-container {

            .card-description {
                min-height: 35%;
            }

            // font-size: $font-size-sm;
            .card {
                width: 95%;
            }
        }

        //features section
        .feeds-container {
            .news-feed-container {
                .news-container {
                    .news {
                        .news-img {
                            height: 125px;
                        }
                    }
                }

                .weather-container {
                    display: inline;

                    .weather-item {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    @include respond-to("pre-sm") {

        .cards-container {
            .card-title {
                font-size: $font-size-sm + 2px;
            }

            .card-description {
                font-size: $font-size-sm;
            }
        }

        //features section
        .feeds-container {
            .news-feed-container {
                row-gap: 10px;

                .news-container {
                    column-gap: 25px;

                    .news {
                        .news-img {
                            height: 100px;
                        }
                    }
                }

                .weather-container {
                    display: inline;

                    .weather-item {
                        margin-right: 5px;

                    }

                }
            }
        }
    }

    @include respond-to("pro-xs") {
        row-gap: 10px;

        .cards-container {
            padding: 0;
            gap: 15px;

            .card {
                font-size: $font-size-sm;

                .card-icon {
                    margin-bottom: 10px;

                    .bi {
                        font-size: 0.8rem;
                        border-radius: 29px;
                        height: 46px;
                        width: 40px;

                        color: $light-neutral-font-color;
                        background-color: $light-dark-bg-color;
                        padding: 10px 12px;

                    }
                }

                .card-description {
                    min-height: 30%;
                }

                .card-button {
                    .explore {
                        font-size: $font-size-xs;
                    }
                }
            }
        }

        //features section
        .feeds-container {
            padding: 0;
            row-gap: 15px;

            .feed {
                border: 1px solid #e5e5e5;
                padding: $spacing-sm + 2px;
                border-radius: $spacing-xs;
            }

            .recent-project-container {
                .recent-project-details {
                    display: grid;
                    grid-template-columns: 1fr;
                    column-gap: 15px;

                    .recent-project-img {
                        display: none;
                    }
                }
            }

            .news-feed-container {
                .news-container {
                    .news {
                        .news-img {
                            height: 85px;
                        }

                        .news-headline {
                            font-size: $font-size-sm - 3px;
                            font-weight: normal;
                        }
                    }
                }

                .weather-container {
                    .weather-item {
                        margin-right: 0px;
                    }
                }
            }
        }
    }

    @include respond-to("xs") {

        .cards-container {

            grid-template-columns: 1fr 1fr;
            gap: 8px;
            justify-content: space-between;

            .card {
                font-size: $font-size-sm;

                .card-description {
                    min-height: 20%;
                }

                &.card-git {
                    display: block;
                    display: flex;
                    flex-direction: column;
                    row-gap: 8px;
                }
            }
        }

        //features section
        .feeds-container {
            .news-feed-container {
                .news-container {
                    column-gap: 10px;

                    .news {
                        .news-img {
                            height: 75px;
                        }
                    }
                }

                .weather-container {

                    .weather-item {
                        margin-right: 0px;
                        font-size: $font-size-sm;

                        &.title {
                            display: none;
                        }
                    }
                }
            }
        }
    }

}