@use 'abstracts' as *;

#home-page-main {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 25px;

    //features section
    .intro-container {
        padding: 20px 10%;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 18px;

        .developer-name {
            font-size: $font-size-lg + 8px;
            font-weight: bold;
            margin-bottom: -10px;

            .name {
                color: $error-color;
            }
        }

        .developer-title {
            text-transform: uppercase;
            font-size: $font-size-md + 2px;
            font-family: 50;
        }

        .quick-links {
            display: flex;
            flex-direction: row;
            column-gap: 20px;
            justify-content: center;
            margin: 0px 8% 8px;
            border-bottom: 0.1em solid rgb(#e5e5e5, 1);
            padding-bottom: 25px;

            i {
                font-size: 20px;
                cursor: pointer;
                padding: 5px 7px;
                border-radius: 50px;
                border: 0.1em solid rgb(#e5e5e5, 1);

                &.bi-github {
                    color: $dark-secondery-bg-color;
                }

                &.bi-linkedin {
                    color: #004182;
                }

                &.bi-whatsapp {
                    color: #25d366;
                }

                &:hover {
                    box-shadow: $light-hover-box-shadow;
                }
            }

        }

        .developer-skills-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            font-size: $font-size-sm;

            .developer-skill {
                background-color: $light-secondery-bg-color;
                padding: $spacing-xs $spacing-sm;
                border-radius: $spacing-md;
                text-align: left;
                min-width: 156px;
                cursor: pointer;

                i {
                    margin-right: 5px;
                    color: $error-color;
                }

                &:hover {
                    box-shadow: $light-hover-box-shadow;
                    background-color: $error-color;
                    color: $light-neutral-font-color;

                    i {
                        color: $light-neutral-font-color;
                    }

                }
            }
        }

        .developer-intro {
            font-size: $font-size-md + 1px;
            line-height: 1.6;

            .highlight {
                font-weight: bold;
                color: $comp-default-font-color;
            }

            .read {
                cursor: pointer;
                color: $error-color;
                display: none;
                font-weight: 700;

                .bi {
                    font-size: 30px;
                }
            }
        }

        .intro-btn-container {

            justify-content: center;

            .intro-btn {
                padding: 7px 25px;
                border: none;
                border-radius: $spacing-xs;
                color: $light-neutral-font-color;
                cursor: pointer;

                &.projects-btn {
                    text-transform: uppercase;
                    background-color: $error-color;

                    i {
                        margin-right: 3px;
                    }
                }

                &:hover {
                    background-color: $comp-default-font-color;
                }
            }
        }
    }

    //Media queries for responsive design
    @include respond-to("md") {

        //features section
        .intro-container {
            .news-feed-container {
                .news-container {
                    .news {
                        .news-img {
                            height: 60px;
                        }

                        .news-headline {
                            font-size: $font-size-xs - 1px;
                        }

                    }
                }

                .weather-container {
                    .weather-item {
                        padding: $spacing-xs;
                        padding-right: $spacing-xs - 6px;
                        font-size: $font-size-sm;

                        &.title {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @include respond-to("pro-sm") {

        //features section
        .intro-container {
            grid-template-columns: 1fr;
            row-gap: 20px;
        }
    }

    @include respond-to("sm") {}

    @include respond-to("pre-sm") {

        //features section
        .intro-container {
            // padding: 0 5% 15px;
            padding: $spacing-lg $spacing-sm $spacing-md ;
            border-radius: $spacing-sm;
            box-shadow: $light-box-shadow;

            .recent-project-container {
                .recent-project-details {
                    .project-details {
                        .project-description {
                            font-size: $font-size-sm;
                        }
                    }
                }
            }
        }
    }

    @include respond-to("pro-xs") {

        //features section
        .intro-container {
            padding: $spacing-sm ;
        }
    }

    @include respond-to("xs") {

        .page-content-intro-hr {
            display: none;
        }

        //features section
        .intro-container {
            margin-bottom: -15px;

            .developer-title {
                margin: 0 10%;
            }

            .developer-intro {
                background-color: rgb($light-secondery-bg-color, 0.5);
                -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
                padding: $spacing-md ;
                border-radius: $spacing-sm;

                .read {
                    cursor: pointer;
                    color: $error-color;
                    display: block;
                }

                .third-pargraph {
                    display: none;
                }
            }

            .intro-btn-container {
                column-gap: 10px;

                .intro-btn {
                    padding: 6px 15px;
                    max-width: 200px;

                }
            }
        }
    }
}