@use '../../styles/abstracts' as *;

#projects-page-main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 25px;
    margin-bottom: 15px;

    //hr line styles
    .page-content-intro-hr {
        @include page-content-intro-hr;

        &::before,
        &::after {
            border-bottom: 1px solid #e5e5e5;
        }
    }

    .project-details {
        display: grid;
        row-gap: 25px;
        padding: $spacing-lg $spacing-sm;
        margin: -10px 0;
        border-radius: $spacing-xs;
        background-color: rgba($light-secondery-bg-color, 0.4);

        .top-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;

            .top-left-details {
                display: grid;
                grid-template-columns: 2fr 3fr;
                column-gap: 10px;

                .project-img-container {
                    cursor: pointer;

                    img {
                        height: 128px;
                    }
                }

                .project-description {
                    display: flex;
                    flex-direction: column;

                    .heading {
                        @include heading-light;
                        color: $comp-default-font-color;
                        cursor: pointer;
                        
                    }

                    .details {
                        font-size: $font-size-md - 1px;
                    }

                    .project-views {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        gap: 5px;
                        flex-wrap: wrap;
                        border-radius: $spacing-xs;
                        margin-left: $spacing-sm;

                        .view {
                            @include button;
                            padding: $spacing-xs - 1px $spacing-sm - 2px;
                            min-width: 55px;
                        }

                    }
                }
            }

            .top-right-details {

                .details {
                    border-left: 5px solid red;
                    padding: 0 $spacing-sm;
                    font-size: $font-size-md - 2px;

                    .highlighted-text {
                        font-weight: bold;
                        font-size: $font-size-md - 2px;
                    }
                }
            }
        }

        .bottom-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;

            .project-concepts,
            .project-features {
                .list-container {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }

            i {
                padding-right: 2px;
                color: brown;
            }
        }


        .details-container {
            text-align: left;

            .heading {
                @include heading-light;
            }

            .details {
                margin-left: $spacing-sm;

                p {
                    margin-bottom: $spacing-xs;
                }

                ul li {
                    list-style: none;
                    margin-bottom: $spacing-xs - 4px;

                    .bi {
                        margin-right: $spacing-xs;
                    }
                }
            }
        }
    }

    .featured-projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin-top: -10px;
        //  border: 1px solid #e5e5e5;


        .project-container {
            display: grid;
            grid-template-columns: 2fr 5fr;
            column-gap: 5px;
            padding: $spacing-sm;
            box-shadow: $light-box-shadow;
            border-radius: $spacing-xs;
            border: none;
            opacity: 1;

            .project-image-container {
                cursor: pointer;

                img {
                    height: 76px;
                    border-radius: $spacing-xs;
                }
            }

            .project-details-container {
                display: flex;
                flex-direction: column;
                text-align: left;

                .project-name {
                    @include heading-light;
                    margin-bottom: 0;
                    border-radius: $spacing-xxs ;
                    // border-left: 5px solid red;
                    padding: 4px $spacing-sm;
                    cursor: pointer;
                    color: brown;
                    font-size: $font-size-sm - 2px;
                }

                .project-summary {
                    padding: $spacing-xs - 2px;
                }

                .project-view-btns {
                    display: flex;
                    flex-direction: row;
                    column-gap: 3px;
                    flex-wrap: wrap;

                    .view-btn {
                        padding: $spacing-xs - 2px $spacing-sm;
                        background-color: $light-secondery-bg-color;
                        border-radius: $spacing-xs - 1px;
                        font-size: $font-size-xs - 2px;
                        min-width: 45px;
                        color: $light-neutral-font-color;
                        cursor: pointer;
                    }

                    .git-hub-repo {
                        // color: #000;
                        background-color: $dark-primary-bg-color;
                    }

                    .live-site {
                        color: red;
                    }

                    .details {
                        color: $light-neutral-font-color;
                        background-color: orangered;
                    }
                }
            }

            &:hover {
                box-shadow: none;
                border-radius: 0;
            }
        }
    }


    @include respond-to("lg") {
        .featured-projects {
            .project-container {
                .project-details-container {
                    .project-view-btns {
                        column-gap: 6px;
                        flex-wrap: wrap;

                        .view-btn {
                            padding: $spacing-xs - 2px $spacing-xs;
                            min-width: 48px;
                        }
                    }
                }
            }
        }
    }

    @include respond-to("md") {
        .featured-projects {
            padding: $spacing-sm;

            .project-container {
                display: grid;
                grid-template-columns: 2fr 5fr;
                column-gap: 5px;

                .project-image-container {
                    cursor: pointer;

                    img {
                        height: 78px;
                        border-radius: $spacing-xs;
                    }
                }

                .project-details-container {
                    display: flex;
                    flex-direction: column;
                    row-gap: 2px;
                    text-align: left;

                    .project-name {
                        background-color: $light-secondery-bg-color;
                        padding: 2px $spacing-sm;
                    }

                    .project-summary {
                        padding: $spacing-xs - 2px;
                    }

                    .project-view-btns {
                        display: flex;
                        flex-direction: row;
                        column-gap: 5px;
                        flex-wrap: wrap;


                        .git-hub-repo {
                            // color: #000;
                            background-color: $dark-primary-bg-color;
                        }

                        .live-site {
                            color: red;
                        }

                        .details {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @include respond-to("pro-sm") {

        .project-details {
            row-gap: 15px;
            padding-bottom: $spacing-sm;
            padding: $spacing-sm + 2px;
            border-radius: $spacing-xs;

            .top-container {
                grid-template-columns: 1fr;
                row-gap: 10px;

                .top-left-details {
                    grid-template-columns: 1fr 4fr;

                    .project-img-container {
                        img {
                            height: 120px;
                        }
                    }
                }
            }
        }

        .featured-projects {
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            padding: $spacing-xs;

            .project-container {
                .project-image-container {
                    img {
                        height: 78px;
                    }
                }

                .project-details-container {
                    .project-view-btns {
                        column-gap: 10px;

                        .git-hub-repo {
                            background-color: $dark-primary-bg-color;
                        }

                        .details {
                            display: block;
                            color: $light-neutral-font-color;
                            background-color: orangered;
                        }
                    }
                }

                &:hover {
                    border-bottom: none;
                }
            }
        }
    }

    @include respond-to("sm") {
        .project-details {
            .top-container {

                .top-left-details {
                    grid-template-columns: 2fr 6fr;
                    row-gap: 5px;
                }
            }

        }

        .featured-projects {
            gap: 15px;

            .project-container {
                .project-details-container {
                    .project-view-btns {
                        column-gap: 4px;

                        .view-btn {
                            padding: $spacing-xs - 2px $spacing-xs + 2px;
                            min-width: 30px;
                        }
                    }
                }
            }
        }
    }

    @include respond-to("pre-sm") {

        .project-details {
            .top-container {
                margin-bottom: 6px;

                .top-left-details {
                    grid-template-columns: 2fr 5fr;
                }
            }

            .bottom-container {
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 15px;

                .project-concepts,
                .project-features {
                    .list-container {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                    }
                }
            }
        }

        .featured-projects {
            .project-container {
                column-gap: 5px;


                .project-image-container {
                    img {
                        height: 73px;
                    }
                }

                .project-details-container {
                    row-gap: 5px;

                    .project-name {
                        font-size: $font-size-xs;
                    }

                    .project-summary {
                        padding: $spacing-xs - 4px;
                        font-size: $font-size-sm - 2px;
                    }

                    .project-view-btns {

                        column-gap: 4px;

                        .view-btn {
                            padding: $spacing-xs - 2px $spacing-sm - 2px;
                            min-width: 25px;
                        }

                        .git-hub-repo {
                            background-color: $dark-primary-bg-color;
                        }

                        .live-site {
                            color: red;
                        }

                        .details {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @include respond-to("pro-xs") {

        .project-details {

            .top-container {
                .top-left-details {
                    grid-template-columns: 3fr 5fr;
                }
            }
        }

        .featured-projects {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;

            .project-container {
                display: grid;
                grid-template-columns: 1fr;


                .project-image-container {
                    img {
                        height: 70px;
                    }
                }

                .project-details-container {
                    display: flex;
                    flex-direction: column;
                    row-gap: 2px;
                    text-align: center;

                    .project-name {
                        border-radius: $spacing-xs;
                        padding: $spacing-xs $spacing-xs;
                        margin: 0 10%;
                        border: none;
                    }

                    .project-view-btns {
                        column-gap: 6px;
                        justify-content: center;

                        .view-btn {
                            min-width: 40px;
                        }

                         .details {
                            display: block;
                            color: $light-neutral-font-color;
                            background-color: orangered;
                        }
                    }
                }
            }
        }
    }

    @include respond-to("xs") {

        margin-bottom: 0px;

        //hr line styles
        .page-content-intro-hr {

            &::before,
            &::after {
                border-bottom: none
            }
        }

        .project-details {
            row-gap: 5px;
            padding-top: $spacing-lg + 2px;

            box-shadow: $light-box-shadow;
            background-color: transparent;

            .top-container {
                row-gap: 20px;

                .top-left-details {
                    grid-template-columns: 1fr;
                    text-align: center;

                    .project-img-container {
                        img {
                            min-height: 180px;
                            max-width: 100%;
                        }
                    }

                    .project-description {

                        .heading {
                            border: none;
                            border-radius: $spacing-xs;
                        }

                        .project-views {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            gap: 5px;
                            flex-wrap: wrap;
                            border-radius: $spacing-xs;
                            margin-left: $spacing-sm;

                            .view {
                                padding: $spacing-xs - 1px $spacing-sm;
                                min-width: 65px;
                                margin-right: $spacing-xs - 2px;
                            }

                        }
                    }
                }

                .top-right-details {
                    text-align: center;

                    .project-description {
                        .details {
                            border: none;
                        }
                    }
                }
            }

            .bottom-container {
                .details-container {
                    text-align: center;

                    i {
                        display: none;
                    }
                }
            }
        }

        .featured-projects {
            grid-template-columns: 1fr;
            row-gap: 15px;

            .project-container {
                grid-template-columns: 2fr 5fr;
                column-gap: 15px;

                .project-image-container {
                    cursor: pointer;

                    img {
                        height: 78px;
                    }
                }

                .project-details-container {
                    text-align: left;
                    
                    .project-summary {
                        padding: $spacing-xs - 2px;
                    }

                     .project-name {
                        margin: 0%;
                    }

                    .project-view-btns {
                        justify-content: flex-start;
                        column-gap: 6px;

                        .view-btn {
                            min-width: 45px;
                            padding: $spacing-xs - 1px $spacing-sm;
                        }

                        .details {
                            display: block;
                            color: $light-neutral-font-color;
                            background-color: orangered;
                        }
                    }
                }

                &:nth-last-child(-n+2) {
                    display: none;
                }
            }


        }

        .container {
            margin: -15px 0;
        }
    }

    @include respond-to("pre-xs") {
        .project-details {
            .top-container {
                .top-left-details {
                    grid-template-columns: 1fr;

                    .project-img-container {
                        img {
                            min-height: 185px;
                        }
                    }
                }
            }
        }

        .featured-projects {
            .project-container {
                .project-details-container {
                    .project-view-btns {
                        .view-btn {
                            min-width: 30px;
                        }
                    }
                }
            }
        }
    }
}