@use 'abstracts' as *;

#projects-page-main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;

    //hr line styles
    @include page-content-intro-hr;

    .project-details {
        display: grid;
        row-gap: 5px;
        padding: $spacing-sm;
        padding-bottom: $spacing-lg;
        border-bottom: 1px solid #e5e5e5;

        .details-container {
            text-align: left;

            .heading {
                margin-bottom: $spacing-xs + 4px;
                text-transform: uppercase;
                background-color: $light-primary-bg-color;
                border-radius: $spacing-xs;
                padding: $spacing-xs $spacing-sm;
                font-weight: bold;

                &.project {
                    border-radius: 0 $spacing-xs $spacing-xs 0;
                    border-left: 5px solid red;
                    font-weight: normal;
                }
            }

            .details {
                margin-left: $spacing-sm;

                p {
                    margin-bottom: $spacing-xs;
                }

                ul li {
                    list-style: none;
                    margin-bottom: $spacing-xs - 4px;

                    .bi {
                        margin-right: $spacing-xs;
                    }
                }
            }
        }

        .top-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;

            .top-left-details {
                display: grid;
                grid-template-columns: 2fr 3fr;
                column-gap: 10px;

                .project-img-container {
                    cursor: pointer;

                    img {
                        height: 125px;
                    }
                }

                .project-description {

                    .project-views {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        gap: 10px;
                        flex-wrap: wrap;
                        border-radius: $spacing-xs;
                        margin-left: $spacing-sm;

                        .view {
                            padding: $spacing-xs - 2px $spacing-md;
                            background-color: $light-secondery-bg-color;
                            border-radius: $spacing-xs - 1px;
                            font-size: $font-size-xs;
                            min-width: 70px;
                            color: $light-neutral-font-color;
                            cursor: pointer;

                            &.git-view {
                                background-color: $light-dark-bg-color;
                            }

                            &.online-view {
                                color: red;
                            }
                        }

                    }
                }
            }

            .top-right-details {

                .details {
                    border-left: 5px solid red;
                    padding: 0 $spacing-sm;
                }

            }


        }

        .bottom-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;

            .project-concepts,
            .project-features {
                .list-container {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }

            i {
                padding-right: 2px;
                color: brown;
            }
        }
    }

    .featured-projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        // padding: $spacing-xs;

        .project-container {
            display: grid;
            grid-template-columns: 2fr 5fr;
            column-gap: 5px;
            padding: $spacing-sm $spacing-xs;

            .project-image-container {
                cursor: pointer;

                img {
                    height: 76px;
                    border-radius: $spacing-xs;
                }
            }

            .project-details-container {
                display: flex;
                flex-direction: column;
                row-gap: 2px;
                text-align: left;

                .project-name {
                    text-transform: uppercase;
                    background-color: $light-primary-bg-color;
                    border-radius: 0 $spacing-xs $spacing-xs 0;
                    border-left: 5px solid red;
                    padding: 2px $spacing-sm;
                    cursor: pointer;
                    color: brown;
                    font-size: $font-size-sm - 2px;
                    font-weight: bold;
                }

                .project-summary {
                    padding: $spacing-xs - 2px;
                }

                .project-view-btns {
                    display: flex;
                    flex-direction: row;
                    column-gap: 3px;
                    flex-wrap: wrap;

                    .view-btn {
                        padding: $spacing-xs - 2px $spacing-sm;
                        background-color: $light-secondery-bg-color;
                        border-radius: $spacing-xs - 1px;
                        font-size: $font-size-xs - 2px;
                        min-width: 45px;
                        color: $light-neutral-font-color;
                        cursor: pointer;
                    }

                    .git-hub-repo {
                        // color: #000;
                        background-color: $light-dark-bg-color;
                    }

                    .live-site {
                        color: red;
                    }

                    .details {
                        color: $light-neutral-font-color;
                        background-color: orangered;
                    }
                }
            }

            &:hover {
                box-shadow: $light-box-shadow;
                border-radius: $spacing-xs;
            }
        }
    }

    @include respond-to("md") {
        .featured-projects {
            padding: $spacing-sm;

            .project-container {
                display: grid;
                grid-template-columns: 2fr 5fr;
                column-gap: 5px;

                .project-image-container {
                    cursor: pointer;

                    img {
                        height: 78px;
                        border-radius: $spacing-xs;
                    }
                }

                .project-details-container {
                    display: flex;
                    flex-direction: column;
                    row-gap: 2px;
                    text-align: left;

                    .project-name {
                        text-transform: uppercase;
                        background-color: $light-primary-bg-color;
                        border-radius: 0 $spacing-xs $spacing-xs 0;
                        border-left: 5px solid red;
                        padding: 2px $spacing-sm;
                        cursor: pointer;
                    }

                    .project-summary {
                        padding: $spacing-xs - 2px;
                    }

                    .project-view-btns {
                        display: flex;
                        flex-direction: row;
                        column-gap: 5px;
                        flex-wrap: wrap;

                        .view-btn {
                            padding: $spacing-xs - 2px $spacing-sm;
                            background-color: $light-secondery-bg-color;
                            border-radius: $spacing-xs - 1px;
                            font-size: $font-size-xs - 2px;
                            min-width: 45px;
                            color: $light-neutral-font-color;
                            cursor: pointer;
                        }

                        .git-hub-repo {
                            // color: #000;
                            background-color: $light-dark-bg-color;
                        }

                        .live-site {
                            color: red;
                        }

                        .details {
                            display: none;
                        }
                    }

                }
            }
        }
    }

    @include respond-to("pro-sm") {

        .project-details {
            row-gap: 10px;
            padding-bottom: $spacing-sm;
            border: 1px solid #e5e5e5;
            padding: $spacing-sm + 2px;
            border-radius: $spacing-xs;

            .top-container {
                grid-template-columns: 1fr;
                row-gap: 5px;

                .top-left-details {
                    grid-template-columns: 1fr 4fr;

                    .project-img-container {
                        img {
                            height: 120px;
                        }
                    }
                }
            }
        }

        .featured-projects {
            grid-template-columns: 1fr 1fr;
            column-gap: 5px;
            row-gap: 30px;
            padding: $spacing-xs;

            .project-container {
                .project-image-container {
                    img {
                        height: 78px;
                    }
                }

                .project-details-container {
                    .project-view-btns {

                        .git-hub-repo {
                            background-color: $light-dark-bg-color;
                        }

                        .details {
                            display: block;
                            color: $light-neutral-font-color;
                            background-color: orangered;
                        }
                    }
                }
            }
        }
    }

    @include respond-to("sm") {

        .project-details {
            .top-container {

                .top-left-details {
                    grid-template-columns: 2fr 6fr;
                    row-gap: 5px;
                }
            }
        }
    }

    @include respond-to("pre-sm") {

        .project-details {
            .top-container {
                margin-bottom: 6px;

                .top-left-details {
                    grid-template-columns: 2fr 5fr;
                }
            }

            .bottom-container {
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 6px;

                .project-concepts,
                .project-features {
                    .list-container {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                    }
                }
            }
        }

        .featured-projects {
            .project-container {
                column-gap: 5px;

                .project-image-container {
                    img {
                        height: 73px;
                    }
                }

                .project-details-container {
                    row-gap: 2px;

                    .project-summary {
                        padding: $spacing-xs - 4px;
                    }

                    .project-view-btns {

                        .git-hub-repo {
                            background-color: $light-dark-bg-color;
                        }

                        .live-site {
                            color: red;
                        }

                        .details {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @include respond-to("pro-xs") {
        row-gap: 10px;

        .project-details {
            .top-container {
                .top-left-details {
                    grid-template-columns: 3fr 5fr;
                }
            }
        }

        .featured-projects {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 10px;

            .project-container {
                display: grid;
                grid-template-columns: 1fr;
                column-gap: 5px;

                .project-image-container {
                    img {
                        height: 80px;
                    }
                }

                .project-details-container {
                    display: flex;
                    flex-direction: column;
                    row-gap: 2px;
                    text-align: center;

                    .project-name {
                        border-radius: $spacing-xs;
                        border: none;
                    }

                    .project-view-btns {
                        column-gap: 6px;
                        justify-content: center;

                        .view-btn {
                            min-width: 60px;
                        }

                        .details {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @include respond-to("xs") {

        .project-details {
            .top-container {
                .top-left-details {
                    grid-template-columns: 1fr;
                    text-align: center;

                    .project-img-container {
                        img {
                            min-height: 225px;
                            max-width: 100%;
                        }
                    }

                    .project-description {
                        .heading {
                            border: none;
                            border-radius: $spacing-xs;
                        }

                        .project-views {
                            justify-content: center;
                        }
                    }
                }

                .top-right-details {
                    display: none;
                }
            }

            .bottom-container {
                .project-concepts {
                    display: none;
                }

                .details-container {
                    .heading {
                        text-align: center;
                    }
                }
            }
        }

        .featured-projects {
            grid-template-columns: 1fr;
            row-gap: 30px;
            padding: $spacing-sm;
            border: 1px solid #e5e5e5;
            border-radius: $spacing-xs;

            .project-container {
                grid-template-columns: 2fr 5fr;
                column-gap: 15px;
                border-bottom: 1px solid #e5e5e5;

                .project-image-container {
                    cursor: pointer;

                    img {
                        height: 78px;
                    }
                }

                .project-details-container {
                    text-align: left;

                    .project-name {
                        border-radius: 0 $spacing-xs $spacing-xs 0;
                        border-left: 5px solid red;
                    }

                    .project-summary {
                        padding: $spacing-xs - 2px;
                    }

                    .project-view-btns {
                        justify-content: flex-start;
                        column-gap: 5px;

                        .view-btn {
                            min-width: 54px;
                        }

                        .details {
                            display: block;
                            color: $light-neutral-font-color;
                            background-color: orangered;
                        }
                    }
                }
            }

            .prj-4,
            .prj-5,
            .prj-6 {
                display: none;
            }
        }
    }

    @include respond-to("pre-xs") {
        .project-details {
            .top-container {

                .top-left-details {
                    grid-template-columns: 1fr;

                    .project-img-container {

                        img {
                            min-height: 185px;
                        }
                    }
                }
            }
        }
    }
}