@use 'abstracts' as *;

#projects-page-main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;

    //hr line styles
    @include page-content-intro-hr;

    .project-details {
        display: grid;
        row-gap: 10px;

        .details-container {
            text-align: left;

            .heading {
                margin-bottom: $spacing-xs + 4px;
                text-transform: uppercase;
                background-color: $light-primary-bg-color;
                border-radius: $spacing-xs;
                padding: $spacing-xs $spacing-sm;
                font-weight: bold;

                &.project {
                    border-radius: 0 $spacing-xs $spacing-xs 0;
                    border-left: 5px solid red;
                    font-weight: normal;
                }
            }

            .details {
                margin-left: $spacing-sm;

                p {
                    margin-bottom: $spacing-xs;
                }

                ul li {
                    list-style: none;
                    margin-bottom: $spacing-xs - 4px;

                    .bi {
                        margin-right: $spacing-xs;
                    }
                }
            }
        }

        .top-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;
            cursor: pointer;

            .top-left-details {
                display: grid;
                grid-template-columns: 2fr 3fr;
                column-gap: 10px;

                .project-img-container {
                    background-color: $light-primary-bg-color;
                    border-radius: $spacing-xs;
                    padding: $spacing-sm;

                    img {

                        height: 125px;
                        width: 100%;
                        border-radius: $spacing-xs;
                    }
                }

                .project-description {

                    .project-views {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        gap: 10px;
                        flex-wrap: wrap;
                        border-radius: $spacing-xs;
                        margin-left: $spacing-sm;

                        .view {
                            padding: $spacing-xs - 2px $spacing-md;
                            background-color: $light-secondery-bg-color;
                            border-radius: $spacing-xs - 1px;
                            font-size: $font-size-xs;
                            min-width: 70px;
                            color: $light-neutral-font-color;
                            cursor: pointer;

                            &.git-view {
                                background-color: $light-dark-bg-color;
                            }

                            &.online-view {
                                color: red;
                            }
                        }

                    }
                }
            }
        }

        .bottom-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;

            .project-concepts,
            .project-features {
                .list-container {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }

    .featured-projects {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .section-statement {
            text-align: left;
            padding-left: $spacing-sm + 4px;
        }

        .cards-section {

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 10px;
            justify-items: center;

            .project-card {
                border-radius: $spacing-sm;
                background-color: $light-primary-bg-color;
                width: 210px;
                padding: $spacing-sm;

                .project-image-container {
                    cursor: pointer;

                    img {
                        height: 115px;
                        width: 100%;
                        border-radius: $spacing-xs;
                    }
                }

                .project-name {
                    text-transform: uppercase;
                    color: $comp-default-font-color;
                    font-size: $font-size-md - 2px;
                    text-align: left;
                    margin: 5px 0;
                }

                .project-view {
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    flex-wrap: wrap;
                    background-color: $light-primary-bg-color;
                    border-radius: $spacing-xs;
                    // border: 1px solid #e5e5e5;

                    .view {
                        height: 22px;
                        padding: $spacing-xs - 2px;
                        background-color: $light-secondery-bg-color;
                        border-radius: 6px;
                        font-size: $font-size-xs;
                        color: $comp-default-font-color;

                        &.git-view {
                            color: #000;
                        }

                        &.online-view {
                            color: red;
                        }
                    }

                }
            }
        }
    }

    @include respond-to("md") {
        .featured-projects {
            display: flex;
            flex-direction: column;
            gap: 15px;

            border: 1px solid #e5e5e5;
            border-radius: $spacing-sm;
            padding: $spacing-md;

            .section-heading {
                text-transform: uppercase;
            }

            .cards-section {

                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 5px;
                justify-items: center;


                .project-card {
                    border-radius: $spacing-sm;
                    background-color: $light-primary-bg-color;
                    width: 185px;
                    padding: $spacing-sm - 2px;

                    .project-image-container {

                        img {
                            height: 110px;
                            // width: 100%;
                            border-radius: $spacing-sm $spacing-sm 0 0;
                        }
                    }

                    .project-name {
                        text-transform: uppercase;
                        color: $comp-default-font-color;
                        font-size: $font-size-md - 2px;
                        text-align: left;
                        margin: 5px 0;
                    }

                    .project-view {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        flex-wrap: wrap;
                        background-color: $light-primary-bg-color;
                        border-radius: $spacing-xs;
                        // border: 1px solid #e5e5e5;

                        .view {
                            height: 22px;
                            padding: $spacing-xs - 2px;
                            background-color: $light-secondery-bg-color;
                            border-radius: 6px;
                            font-size: $font-size-xs;
                            color: $comp-default-font-color;

                            &.complete-view {
                                display: none;
                            }
                        }

                    }
                }
            }
        }
    }

    @include respond-to("pro-sm") {

        section {
            border: 1px solid #e5e5e5;
            padding: $spacing-sm + 2px;
            border-radius: $spacing-xs;
        }

        .project-details {
            .top-container {
                grid-template-columns: 1fr;
                row-gap: 10px;

                .top-left-details {
                    grid-template-columns: 1fr 4fr;

                    .project-img-container {
                        img {
                            height: 100px;
                        }
                    }
                }
            }
        }

        .featured-projects {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .section-heading {
                text-transform: uppercase;
            }

            .cards-section {

                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 5px;
                justify-items: center;


                .project-card {
                    border-radius: $spacing-sm;
                    background-color: $light-primary-bg-color;
                    width: 175px;
                    padding: $spacing-sm - 2px;

                    .project-image-container {

                        img {
                            // height: 112px;
                            // width: 100%;
                            border-radius: $spacing-sm $spacing-sm 0 0;
                        }
                    }

                    .project-name {
                        text-transform: uppercase;
                        color: $comp-default-font-color;
                        font-size: $font-size-md - 2px;
                        text-align: left;
                        margin: 5px 0;
                        min-height: 35px;
                    }

                    .project-view {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        flex-wrap: wrap;
                        background-color: $light-primary-bg-color;
                        border-radius: $spacing-xs;
                        // border: 1px solid #e5e5e5;

                        .view {
                            height: 22px;
                            padding: $spacing-xs - 2px;
                            background-color: $light-secondery-bg-color;
                            border-radius: 6px;
                            font-size: $font-size-xs;
                            color: $comp-default-font-color;

                            &.complete-view {
                                display: none;
                            }
                        }

                    }
                }
            }
        }
    }

    @include respond-to("sm") {

        .project-details {
            .top-container {

                .top-left-details {
                    grid-template-columns: 2fr 6fr;

                    .project-img-container {
                        img {
                            height: 100px;
                        }
                    }
                }
            }
        }

        .featured-projects {
            display: flex;
            flex-direction: column;
            gap: 15px;


            .section-heading {
                text-transform: uppercase;
            }

            .cards-section {

                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                justify-items: center;


                .project-card {
                    border-radius: $spacing-sm;
                    background-color: $light-primary-bg-color;
                    width: 235px;
                    padding: $spacing-sm + 2px;

                    .project-image-container {

                        img {
                            height: 120px;
                            width: 100%;
                            border-radius: $spacing-sm $spacing-sm 0 0;
                        }
                    }

                    .project-name {
                        text-transform: uppercase;
                        color: $comp-default-font-color;
                        font-size: $font-size-md - 2px;
                        text-align: left;
                        margin: 5px 0;
                        min-height: 0px;
                    }

                    .project-view {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        flex-wrap: wrap;
                        background-color: $light-primary-bg-color;
                        border-radius: $spacing-xs;
                        // border: 1px solid #e5e5e5;

                        .view {
                            height: 22px;
                            padding: $spacing-xs - 2px;
                            background-color: $light-secondery-bg-color;
                            border-radius: 6px;
                            font-size: $font-size-xs;
                            color: $comp-default-font-color;

                            &.complete-view {
                                display: block;
                            }
                        }

                    }
                }
            }
        }
    }

    @include respond-to("pre-sm") {

        .project-details {
            .top-container {
                margin-bottom: 6px;

                .top-left-details {
                    grid-template-columns: 2fr 5fr;

                    .project-img-container {
                        margin-bottom: 6px;

                        img {
                            height: 100px;
                        }
                    }
                }
            }

            .bottom-container {
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 10px;

                .project-concepts,
                .project-features {
                    .list-container {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                    }
                }
            }
        }

        .featured-projects {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .section-heading {
                text-transform: uppercase;
            }

            .cards-section {

                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                justify-items: center;

                .project-card {
                    border-radius: $spacing-sm;
                    background-color: $light-primary-bg-color;
                    width: 235px;
                    padding: $spacing-sm + 2px;

                    .project-image-container {

                        img {
                            height: 130px;
                            // width: 100%;
                            border-radius: $spacing-sm $spacing-sm 0 0;
                        }
                    }

                    .project-name {
                        text-transform: uppercase;
                        color: $comp-default-font-color;
                        font-size: $font-size-md - 2px;
                        text-align: left;
                        margin: 5px 0;
                        min-height: 0px;
                    }

                    .project-view {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        flex-wrap: wrap;
                        background-color: $light-primary-bg-color;
                        border-radius: $spacing-xs;
                        // border: 1px solid #e5e5e5;

                        .view {
                            height: 22px;
                            padding: $spacing-xs - 2px;
                            background-color: $light-secondery-bg-color;
                            border-radius: 6px;
                            font-size: $font-size-xs;
                            color: $comp-default-font-color;

                            &.complete-view {
                                display: block;
                            }
                        }

                    }
                }
            }
        }
    }

    @include respond-to("pro-xs") {
        row-gap: 10px;
        .project-details {
            .top-container {

                .top-left-details {
                    grid-template-columns: 3fr 5fr;

                    .project-img-container {
                        img {
                            height: 105px;
                        }
                    }
                }
            }
        }

        .featured-projects {
            display: flex;
            flex-direction: column;
            gap: 15px;


            .section-heading {
                text-transform: uppercase;
            }

            .cards-section {

                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                justify-items: center;


                .project-card {
                    border-radius: $spacing-sm;
                    background-color: $light-primary-bg-color;
                    width: 205px;
                    padding: $spacing-sm + 2px;

                    .project-image-container {

                        img {
                            height: 110px;
                            width: 100%;
                            border-radius: $spacing-sm $spacing-sm 0 0;
                        }
                    }

                    .project-name {
                        text-transform: uppercase;
                        color: $comp-default-font-color;
                        font-size: $font-size-md - 2px;
                        text-align: left;
                        margin: 5px 0;
                    }

                    .project-view {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        flex-wrap: wrap;
                        background-color: $light-primary-bg-color;
                        border-radius: $spacing-xs;
                        // border: 1px solid #e5e5e5;

                        .view {
                            height: 22px;
                            padding: $spacing-xs - 2px $spacing-xs;
                            background-color: $light-secondery-bg-color;
                            border-radius: 6px;
                            font-size: $font-size-xs;
                            color: $comp-default-font-color;

                            &.complete-view {
                                display: none;
                            }
                        }

                    }
                }
            }
        }
    }

    @include respond-to("xs") {

        .project-details {
            .top-container {
                .top-left-details {
                    grid-template-columns: 1fr;
                   row-gap: 10px;

                    .project-img-container {
                        img {
                            min-height: 265px;
                        }
                    }
                }

                .top-right-details {
                    display: none;
                }
            }

            .bottom-container {
                .project-concepts {
                    display: none;
                }
            }
        }

        .featured-projects {
            display: flex;
            flex-direction: column;
            gap: 15px;


            .section-heading {
                text-transform: uppercase;
            }

            .cards-section {

                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 5px;
                row-gap: 15px;
                justify-items: center;


                .project-card {
                    border-radius: $spacing-sm;
                    background-color: $light-primary-bg-color;
                    width: 155px;
                    padding: $spacing-sm;

                    .project-image-container {

                        img {
                            height: 80px;
                            width: 100%;
                            border-radius: $spacing-sm $spacing-sm 0 0;
                        }
                    }

                    .project-name {
                        min-height: 40px;
                    }

                    .project-view {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;

                        flex-wrap: wrap;
                        background-color: $light-primary-bg-color;
                        border-radius: $spacing-xs;
                        // border: 1px solid #e5e5e5;

                        .view {
                            height: 22px;
                            padding: $spacing-xs - 2px $spacing-xs;
                            background-color: $light-secondery-bg-color;
                            border-radius: 6px;
                            font-size: $font-size-xs;
                            color: $comp-default-font-color;

                            &.complete-view {
                                display: none;
                            }
                        }

                    }
                }
            }
        }
    }

    @include respond-to("pre-xs") {

        .project-details {
            .top-container {

                .top-left-details {
                    grid-template-columns: 1fr;
                    row-gap: 10px;

                    .project-img-container {
 
                        img {
                            min-height: 205px;
                        }
                    }
                }
            }
        }

        .featured-projects {
            display: flex;
            flex-direction: column;
            gap: 15px;


            .section-heading {
                text-transform: uppercase;
            }

            .cards-section {

                display: grid;
                grid-template-columns: 1fr;
                gap: 10px;
                justify-items: center;


                .project-card {
                    border-radius: $spacing-sm;
                    background-color: $light-primary-bg-color;
                    width: 315px;
                    padding: $spacing-sm + 2px;

                    .project-image-container {

                        img {
                            height: 180px;
                            width: 100%;
                            border-radius: $spacing-sm $spacing-sm 0 0;
                        }
                    }

                    .project-name {
                        text-align: left;
                        margin: 5px 0;
                        min-height: 20px;
                    }

                    .project-view {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        flex-wrap: wrap;
                        background-color: $light-primary-bg-color;
                        border-radius: $spacing-xs;
                        // border: 1px solid #e5e5e5;

                        .view {
                            height: 22px;
                            padding: $spacing-xs - 2px $spacing-xs;
                            background-color: $light-secondery-bg-color;
                            border-radius: 6px;
                            font-size: $font-size-xs;
                            color: $comp-default-font-color;

                            &.complete-view {
                                display: block;
                            }
                        }

                    }
                }
            }
        }

    }
}