@use 'abstracts' as *;

#skils-set-page-main {

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;

    //hr line styles
    @include page-content-intro-hr;

    .sets-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 25px;
        column-gap: 15px;
        text-align: left;
     
        .set-container {
            box-shadow: $light-box-shadow;
            border-radius: $spacing-xs;
            border: none;
            padding: $spacing-sm $spacing-sm ;
            cursor: pointer;

            .heading {
                margin-bottom: $spacing-xs + 4px;
                text-transform: uppercase;
                background-color: $light-primary-bg-color;
                border-radius: $spacing-xs;
                padding: $spacing-xs $spacing-sm;
                font-weight: bold;
            }

            .set {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 5px;
                padding-left: 0;

                .skill {
                    padding: $spacing-xs - 3px;
                    padding-left: $spacing-xs - 2px;
                    background-color: $light-primary-bg-color;
                    border-radius: $spacing-xs;

                    i {
                        padding-right: 3px;
                        color: brown;
                    }
                }
            }

            .btn-container {
                .explore {
                    display: none;
                }
            }

            &:hover {
                box-shadow: $light-hover-box-shadow;
            }
        }
    }

    @include respond-to("pro-sm") {

        .sets-container {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 25px;
            column-gap: 15px;
        }

    }

    @include respond-to("xs") {
        .sets-container {
            .set-container {
                text-align: center;

                .set {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 5px;
                    padding-left: 0;

                    i {
                        display: none;
                    }

                }

                .btn-container {
                    text-align: center;

                    .explore {
                        display: block;
                        text-transform: uppercase;
                        padding: $spacing-xs;
                        background-color: red;
                        margin: $spacing-lg 15% 0;
                        border-radius: $spacing-xs;
                        color: $light-neutral-font-color;
                    }
                }
            }


        }
    }
}