@use '../../styles/abstracts' as *;

#skils-set-page-main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin-bottom: 15px;

    //hr line styles
    .page-content-intro-hr {
        @include page-content-intro-hr;

        &::before,
        &::after {
            border-bottom: 1px solid #e5e5e5;
        }
    }

    .sets-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;
        text-align: left;


        .set-container {
            border-radius: $spacing-xs;
            border: none;
            padding: $spacing-sm $spacing-sm ;
            cursor: pointer;

            .heading {
                @include heading-light;
                margin-bottom: $spacing-xs + 4px;
            }

            .set {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 5px;
                padding-left: 0;

                .skill {
                    padding: $spacing-xs - 3px;
                    padding-left: $spacing-xs - 2px;
                    background-color: rgba($light-secondery-bg-color, 0.4);
                    border-radius: $spacing-xs;

                    i {
                        padding-right: 3px;
                        color: brown;
                    }
                }

                .underlying-bar {
                    border-radius: $spacing-xs - 2px;
                    font-size: $font-size-xs;
                    max-width: 100%;
                    background-color: #ddd;

                    margin: $spacing-xs - 5px;


                    .skill-bar {
                        display: flex;
                        justify-content: space-between;
                        padding: 2px $spacing-xs;
                        border-radius: $spacing-xs - 2px $spacing-xs $spacing-xs $spacing-xs - 2px;
                        background: linear-gradient(90deg, hsla(197, 14%, 57%, 1) 0%, hsla(192, 17%, 94%, 1) 100%);

                        //   margin: $spacing-xs - 2px;
                    }

                    .html {
                        width: 80%;
                    }

                    /* Green */
                    .scss {
                        width: 65%;
                    }

                    /* Green */
                    .RxJs {
                        width: 50%;
                    }

                    /* Blue */
                    .js {
                        width: 55%;
                    }

                    /* Red */
                    .angular {
                        width: 70%;
                    }

                    /* Red */
                    .git {
                        width: 60%;
                    }

                }
            }

            .btn-container {
                .explore {
                    display: none;
                }
            }

            &:hover {
                box-shadow: $light-box-shadow;
            }
        }
    }

    @include respond-to("pro-sm") {

        .sets-container {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 5px;
            column-gap: 15px;
        }

    }

    @include respond-to("xs") {
        margin-bottom: -10px;

        //hr line styles
        .page-content-intro-hr {

            &::before,
            &::after {
                border-bottom: none
            }
        }

        .sets-container {
            row-gap: 25px;

            .set-container {
                text-align: center;
                box-shadow: $light-box-shadow;

                &.frameworks,
                &.tools {
                    display: none;
                }

                .set {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 5px;
                    padding-left: 0;

                    i {
                        display: none;
                    }
                }

                .btn-container {
                    text-align: center;
                    font-size: $font-size-xs;
                    margin: $spacing-xs;

                    .explore {
                        display: block;
                        text-transform: uppercase;
                        padding: $spacing-sm - 2px;
                        background-color: $error-color;
                        margin: $spacing-xl 25% ;
                        border-radius: $spacing-xs;
                        color: $light-neutral-font-color;
                    }
                }
            }
        }
    }
}