@use 'abstracts' as *;

.dark-theme {
    --bg-color: #0d1b2a;
    --text-color: #527588;

    .site-grid-container {
        background-color: var(--bg-color);
        color: var(--text-color);

        // $primary: #2c3e50;
        // #main-navbar {
        //     background-color: $primary;
        //     .navbar {
        //         background-color: $primary;
        //         &__menu {
        //             background-color: $primary;
        //         }
        //     }
        // }

        #page-instroduction {
            //  background-image: linear-gradient(to right, #abbaab 0%, #ffffff 51%, #abbaab 100%);
            // background-image: linear-gradient(to right, #000428 0%, #004e92  51%, #000428  100%);
            background-image: linear-gradient(to right, #200122 0%, #6f0000 51%, #200122 100%);

            .page-description {
                color: $light-neutral-font-color;
            }

            .page-intro-buttons {
                button {
                    &.projects {

                        background-color: brown;
                    }

                    &:hover {
                        background-color: $dark-primary-bg-color;
                    }

                    &.contact {

                        background-color: transparent;
                        border: 1px solid #e5e5e5;

                        &:hover {
                            background-color: red;
                            border-color: red;
                        }
                    }
                }
            }

        }

        #home-page-main {
            .cards-container {
                .card {
                    background-color: #12202e;
                    box-shadow: $dark-box-shadow;

                    .card-title {
                        color: #adb5bd;
                        border-bottom: 1px solid $light-default-font-color;;
                    }

                    .card-button {
                        .explore {
                            background-color: red;
                        }
                    }

                    &:hover {
                        background-color: #2c3e50;

                        .card-icon {
                            .bi {
                                background-color: #adb5bd;
                            }
                        }

                        .explore {
                            background-color: brown;
                        }
                    }
                }
            }

            .intro-container {
                padding: 1% 10% 2%;
                border-radius: $spacing-sm;
                text-align: center;
                // margin-top: -10px;
                background-color: $dark-secondery-bg-color;

                .developer-name {
                    font-size: $font-size-lg + 8px;
                    font-weight: bold;
                }

                .developer-title {
                    text-transform: uppercase;
                    font-size: $font-size-md + 2px;
                    font-family: 50;
                }

                p {
                    margin: 15px 0;
                    font-size: $font-size-md;
                    line-height: 1.6;

                    .highlight {
                        font-weight: bold;
                        color: $comp-default-font-color;
                    }
                }

                .intro-btn-container {

                    .intro-btn {

                        &.gitHub-btn {
                            background-color: $dark-primary-bg-color;
                        }

                        &.linkedin-btn {
                            background-color: $light-primary-bg-color;
                            color: $light-default-font-color;
                        }
                    }
                }
            }

            @include respond-to("pro-xs") {
                .intro-container {
                    padding: $spacing-sm $spacing-sm $spacing-lg $spacing-sm ;
                }
            }

            @include respond-to("xs") {

                .cards-container,
                .page-content-intro-hr {
                    display: none;
                }

                .intro-container {
                    margin-top: 0;
                    padding: $spacing-sm $spacing-sm $spacing-lg $spacing-sm ;

                    .intro-btn-container {
                        column-gap: 10px;

                        .intro-btn {
                            padding: 6px 15px;
                            max-width: 200px;
                        }
                    }
                }
            }
        }

        #about-page-main {
            .about-content {
                border: none;

                .about-container {
                    box-shadow: $dark-box-shadow;
                    padding: $spacing-sm;
                    border-radius: $spacing-sm;

                    .set-heading {
                        @include heading-dark;
                    }

                    &:hover {
                        box-shadow: $dark-hover-box-shadow;
                    }
                }
            }

            @include respond-to("xl") {

                .about-content {
                    padding: 0;
                    margin-bottom: 15px;
                }
            }
        }

        #skils-set-page-main {
            .sets-container {
                padding: 0;
                margin-bottom: 15px;

                .set-container {
                    box-shadow: $dark-box-shadow;
                    padding: $spacing-sm;
                    border-radius: $spacing-sm;

                    .heading {
                        @include heading-dark;
                    }

                    .set {
                        .skill {
                            @include heading-dark;
                        }
                    }

                    &:hover {
                        box-shadow: $dark-hover-box-shadow;
                    }
                }
            }

            @include respond-to("pre-sm") {
                .sets-container {
                    border: none;
                    margin-bottom: 15px;
                }
            }
        }

        #projects-page-main {
            .project-details {
                box-shadow: $dark-box-shadow;
                border-radius: $spacing-sm;

                .details-container {
                    text-align: left;

                    .heading {
                        @include heading-dark;
                    }
                }
            }

            .featured-projects {
                .project-container {

                    box-shadow: $dark-box-shadow;
                    border-radius: $spacing-xs;
                    border: none;

                    .project-details-container {
                        display: flex;
                        flex-direction: column;
                        row-gap: 2px;
                        text-align: left;

                        .project-name {
                            @include heading-dark;
                        }
                    }

                    &:hover {
                        box-shadow: $dark-hover-box-shadow;
                    }
                }
            }

            @include respond-to("pro-sm") {
                .project-details {
                    box-shadow: $dark-box-shadow;
                    border: none;
                }
            }

            @include respond-to("pro-xs") {
                .featured-projects {
                    .project-container {
                        box-shadow: $dark-box-shadow;
                        border-radius: $spacing-xs;
                        border: none;

                        .project-details-container {
                            text-align: center;

                            .project-view-btns {
                                justify-content: center;
                            }
                        }
                    }
                }
            }

            @include respond-to("xs") {
                .project-details {
                    .top-container {
                        .top-left-details {
                            text-align: center;
                        }
                    }
                }

                .featured-projects {
                    border: none;
                    margin-bottom: 15px;
                    row-gap: 10px;

                    .project-container {
                        .project-details-container {
                            text-align: left;

                            .project-view-btns {
                                justify-content: start;
                            }
                        }

                    }
                }
            }
        }

        #contact-page-main {
            .contact-form-container {
                box-shadow: $dark-box-shadow;
                padding: $spacing-sm;
                border-radius: $spacing-xs;

                form {
                    .contact-info {
                        fieldset {
                            border: 1px solid $light-default-font-color;
                        }
                    }
                }
            }
        }

        #footer {
            border-top: 1px solid $light-default-font-color;

            .footer-item {
                .footer-item-title {
                    @include heading-dark;
                }
            }

            .footer-bottom-section {
                @include heading-dark;
            }
        }
    }
}