@use 'abstracts' as *;

.dark-theme {
    --bg-color: #0d1b2a;
    --text-color: #527588;

    .site-grid-container {
        background-color: var(--bg-color);
        color: var(--text-color);

        #page-instroduction {
            //  background-image: linear-gradient(to right, #abbaab 0%, #ffffff 51%, #abbaab 100%);
            // background-image: linear-gradient(to right, #000428 0%, #004e92  51%, #000428  100%);
            background-image: linear-gradient(to right, #200122 0%, #6f0000 51%, #200122 100%);

            .page-description {
                color: $light-neutral-font-color;
            }

            .page-intro-buttons {
                button {
                    &.projects {

                        background-color: brown;
                    }

                    &:hover {
                        background-color: $dark-primary-bg-color;
                    }

                    &.contact {

                        background-color: transparent;
                        border: 1px solid #e5e5e5;

                        &:hover {
                            background-color: red;
                            border-color: red;
                        }
                    }
                }
            }

        }

        #home-page-main {

            .page-content-intro-hr {

                &::before,
                &::after {
                    border-bottom: 1px solid $light-default-font-color;
                }
            }

            .cards-container {
                .card {
                    background-color: #12202e;
                    box-shadow: $dark-box-shadow;

                    .card-title {
                        color: #adb5bd;
                    }

                    .card-button {
                        .explore {
                            background-color: red;
                        }
                    }

                    &:hover {
                        background-color: #2c3e50;

                        .card-icon {
                            .bi {
                                background-color: #adb5bd;
                            }
                        }

                        .explore {
                            background-color: brown;
                        }
                    }
                }
            }

            .intro-container {
                padding: 1% 10% 2%;
                border-radius: $spacing-sm;
                text-align: center;
                background-color: $dark-secondery-bg-color;

                .developer-name {
                    font-size: $font-size-lg + 8px;
                    font-weight: bold;
                }

                .developer-title {
                    text-transform: uppercase;
                    font-size: $font-size-md + 2px;
                    font-family: 50;
                }

                .skills-container {

                    .skill {
                        background-color: $light-primary-bg-color;
                    }
                }

                p {
                    margin: 15px 0;
                    font-size: $font-size-md;
                    line-height: 1.6;

                    .highlight {
                        font-weight: bold;
                        color: $comp-default-font-color;
                    }
                }

                .intro-btn-container {

                    .intro-btn {

                        &.gitHub-btn {
                            background-color: $dark-primary-bg-color;
                        }

                        &.linkedin-btn {
                            background-color: $light-primary-bg-color;
                            color: $light-default-font-color;
                        }
                    }
                }
            }

            @include respond-to("pro-xs") {
                .intro-container {
                    padding: $spacing-sm $spacing-sm $spacing-lg $spacing-sm ;
                }
            }

            @include respond-to("xs") {

                .page-content-intro-hr {

                    &::before,
                    &::after {
                        border-bottom: none;
                    }
                }

                .cards-container,
                .page-content-intro-hr {
                    display: none;
                }

                .intro-container {
                    margin-top: 0;
                    padding: $spacing-sm $spacing-sm $spacing-lg $spacing-sm ;

                    .intro-btn-container {
                        column-gap: 10px;

                        .intro-btn {
                            padding: 6px 15px;
                            max-width: 200px;
                        }
                    }
                }
            }
        }

        #about-page-main {

            .page-content-intro-hr {

                &::before,
                &::after {
                    border-bottom: 1px solid $light-default-font-color;
                }
            }

            .about-content {
                border: none;

                .about-container {
                    box-shadow: $dark-box-shadow;
                    padding: $spacing-sm;
                    border-radius: $spacing-sm;

                    .set-heading {
                        @include heading-dark;
                    }

                    &:hover {
                        box-shadow: $dark-hover-box-shadow;
                    }
                }
            }

            @include respond-to("xl") {

                .about-content {
                    padding: 0;
                    margin-bottom: 15px;
                }
            }

            @include respond-to("xs") {
                margin-bottom: -20px;

                .page-content-intro-hr {

                    &::before,
                    &::after {
                        border-bottom: none;
                    }
                }

            }
        }

        #skils-set-page-main {

            .page-content-intro-hr {

                &::before,
                &::after {
                    border-bottom: 1px solid $light-default-font-color;
                }
            }

            .sets-container {
                padding: 0;
                margin-bottom: 15px;

                .set-container {
                    box-shadow: $dark-box-shadow;
                    padding: $spacing-sm;
                    border-radius: $spacing-sm;

                    .heading {
                        @include heading-dark;
                    }

                    .set {
                        .skill {
                            @include heading-dark;
                        }
                    }

                    &:hover {
                        box-shadow: $dark-hover-box-shadow;
                    }
                }
            }

            @include respond-to("pre-sm") {
                .sets-container {
                    border: none;
                    margin-bottom: 15px;
                }
            }

            @include respond-to("xs") {
                margin-bottom: -20px;

                .page-content-intro-hr {

                    &::before,
                    &::after {
                        border-bottom: none;
                    }
                }
            }
        }

        #projects-page-main {

            .page-content-intro-hr {

                &::before,
                &::after {
                    border-bottom: 1px solid $light-default-font-color;
                }
            }

            .project-details {
                box-shadow: $dark-box-shadow;
                border-radius: $spacing-sm;

                .details-container {
                    text-align: left;

                    .heading {
                        @include heading-dark;
                    }
                }
            }

            .featured-projects {
                .project-container {

                    box-shadow: $dark-box-shadow;
                    border-radius: $spacing-xs;
                    border: none;

                    .project-details-container {
                        display: flex;
                        flex-direction: column;
                        row-gap: 2px;
                        text-align: left;

                        .project-name {
                            @include heading-dark;
                        }
                    }

                    &:hover {
                        box-shadow: $dark-hover-box-shadow;
                    }
                }
            }

            @include respond-to("pro-sm") {
                .project-details {
                    box-shadow: $dark-box-shadow;
                    border: none;
                }
            }

            @include respond-to("pro-xs") {
                .featured-projects {
                    .project-container {
                        box-shadow: $dark-box-shadow;
                        border-radius: $spacing-xs;
                        border: none;

                        .project-details-container {
                            text-align: center;

                            .project-view-btns {
                                justify-content: center;
                            }
                        }
                    }
                }
            }

            @include respond-to("xs") {
                margin-bottom: 0px;

                .page-content-intro-hr {

                    &::before,
                    &::after {
                        border-bottom: none;
                    }
                }

                .project-details {
                    .top-container {
                        .top-left-details {
                            text-align: center;
                        }

                        .top-right-details {
                            text-align: center;
                        }
                    }

                    .bottom-container {
                        .details-container {
                            text-align: center;
                        }
                    }
                }

                .featured-projects {
                    border: none;
                    margin-bottom: 15px;
                    row-gap: 10px;

                    .project-container {
                        .project-details-container {
                            text-align: left;

                            .project-view-btns {
                                justify-content: start;
                            }
                        }

                    }
                }

                .container {
                    margin: -15px 0;
                }
            }
        }

        #contact-page-main {

            .page-content-intro-hr {

                &::before,
                &::after {
                    border-bottom: 1px solid $light-default-font-color;
                }
            }

            .contact-form-container {
                box-shadow: $dark-box-shadow;
                padding: $spacing-sm;
                border-radius: $spacing-xs;

                form {
                    .contact-info {
                        fieldset {
                            border: 1px solid $light-default-font-color;
                        }
                    }
                }
            }

            @include respond-to("xs") {

                .page-content-intro-hr {

                    &::before,
                    &::after {
                        border-bottom: none;
                    }
                }
            }
        }

        #not-found-page-main {

            .page-content-intro-hr {

                &::before,
                &::after {
                    border-bottom: 1px solid $light-default-font-color;
                }
            }

            //standard local styles
            .not-found-content {

                box-shadow: $dark-box-shadow;
                border-radius: $spacing-sm;

                .not-found-container {

                    .heading {
                        margin-bottom: $spacing-xs + 4px;
                        @include heading-dark;
                    }


                    &:hover {
                        box-shadow: $light-hover-box-shadow;
                    }
                }
            }

            @include respond-to("xs") {

                .page-content-intro-hr {

                    &::before,
                    &::after {
                        border-bottom: none;
                    }
                }
            }
        }

        #footer {
            border-top: 1px solid $light-default-font-color;

            .footer-top-section {
                .whats-app-btn {
                    box-shadow: $dark-hover-box-shadow;
                }
            }

            .footer-item {
                .footer-item-title {
                    @include heading-dark;
                }
            }

            .footer-bottom-section {
                @include heading-dark;
            }

            @include respond-to("xs") {
                border-top: none;
            }
        }
    }
}