<div class="about-page-main" id="about-page-main">
  
  <div class="page-content-intro-hr">background</div>

  <div class="about-content">
    <div class="about-container">
      <div class="set-heading">about me</div>
      <div class="set-container">
        <p>
          <i class="bi bi-bookmark-fill"></i> I’m a passionate Frontend
          Developer with a strong focus on building high-performance single-page
          applications using Angular framework.
        </p>
      </div>
    </div>
    <div class="about-container background">
      <div class="set-heading">Background</div>
      <div class="set-container">
        <p>
          <i class="bi bi-bookmark-fill"></i> My journey into front-end
          development led me to discover Angular's robust framework, and I've
          since focused on crafting intuitive and efficient user interfaces.
        </p>
      </div>
    </div>
    <div class="about-container">
      <div class="set-heading">skills & expertise</div>
      <div class="set-container">
        <p>
          <i class="bi bi-bookmark-fill"></i> Solid foundation and proficient in
          <span class="key-skills">Responsive UI Designs</span>,
          <span class="key-skills">Angular 16+</span>,
          <span class="key-skills">TypeScript</span>,
          <span class="key-skills">HTML5</span>,
          <span class="key-skills">SCSS</span>,
          <span class="key-skills">Bootstrap 5</span>,
          <span class="key-skills">JavaScript</span>,
          <span class="key-skills">RESTful API integration</span>,
          <span class="key-skills">Unit Testing</span>,
          <span class="key-skills">RxJs</span>,
          <span class="key-skills">SEO</span>, and
          <span class="key-skills">Source Control</span> (GitHub).
        </p>
      </div>
    </div>
    <div class="about-container">
      <div class="set-heading">portfolio</div>
      <div class="set-container">
        <p>
          <i class="bi bi-bookmark-fill"></i> This portfolio serves as a
          demonstration of my technical proficiency, problem-solving abilities,
          and dedication to creating exceptional user experiences.
        </p>
        <div class="btn-container">
          <div name="explore" class="explore" (click)="redirectToProjects()">
            explore projects
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
