<div id="page-instroduction" class="page-instroduction">
  <div
    class="current-weather-container"
    title="Current Weather"
    *ngIf="isPositionAvailable"
  >
    <div class="weather-icon">
      <img
        [src]="'http://openweathermap.org/img/wn/' + weatherIcon"
        alt="Icon"
        class="weather-icon-img"
        [title]="weatherDescription  | titlecase"
      />
    </div>
    <div class="weather-temp" title="Temperature">{{ temperature }}°C</div>

  </div>

  <div
    class="current-weather-container"
    title="Current Weather"
    *ngIf="!isPositionAvailable"
  >
    <div class="weather-temp">{{ temperature }}°C</div>
  </div>

  <div class="call-to-acltion-container">
    <div class="intro-text">
      <div class="page-title">{{ pageTitle }}</div>
      <div class="page-description">{{ pageDesc }}</div>
      <div class="page-intro-buttons">
        <button
          name="projects"
          class="button projects"
          type="button"
          (click)="redirectToProjects()"
        >
          projects
        </button>
        <button
          name="contact"
          class="button contact"
          type="button"
          (click)="redirectToContactUs()"
        >
          contact
        </button>
      </div>
    </div>

    <div class="intro-image">
      <img
        class="project-img"
        src="./img/call-to-action/ui.png"
        alt="recent project"
      />
    </div>
  </div>

  <!-- <div *ngIf="isLoading == true" id="spinner-container">
    <app-spinner [processMessage]="isLoadingMessage"></app-spinner>
  </div> -->
</div>
