<div  id="home-page-main" class="home-page-main">
  <div class="homepage-content-section intro-container">
    <div @animateSlideInFromTop class="developer-name">
      Hi, I’m <span class="name">Yingi</span>
    </div>

    <div @animateFadeIn class="developer-title">Front-End Developer</div>

    <div  @basicStagger class="quick-links">
      <span
        class="animate-stagger link-item"
        (click)="openHyperLink(gitHubRepo)"
      >
        <i class="bi bi-github"></i>
      </span>
      <span
        class="animate-stagger link-item in"
        (click)="openHyperLink(linkedIn)"
      >
        <i class="bi bi-linkedin"></i
      ></span>
      <span
        class="animate-stagger link-item"
        (click)="openHyperLink(whatsapp)"
      >
        <i class="bi bi-whatsapp"></i>
      </span>

      <span
        class="animate-stagger link-item"
        (click)="openHyperLink(whatsapp)"
      >
        <i class="bi bi-envelope-fill"></i>
      </span>
    </div>

    <div @basicStagger class="developer-skills-container">
      <div class="developer-skill animate-stagger">
        <i class="bi bi-check-circle-fill"></i>Responsive UI Design
      </div>
      <div class="developer-skill animate-stagger">
        <i class="bi bi-check-circle-fill"></i>Angular/TypeScript
      </div>
      <div class="developer-skill animate-stagger">
        <i class="bi bi-check-circle-fill"></i>RESTful API
      </div>
      <div class="developer-skill animate-stagger">
        <i class="bi bi-check-circle-fill"></i>Unit Testing
      </div>
      <div class="developer-skill animate-stagger">
        <i class="bi bi-check-circle-fill"></i>Source Control (GitHub)
      </div>
    </div>

    <p @animateFadeIn class="developer-intro first-paragraph">
      I craft responsive, scalable, and user-friendly Single-Page applications
      (SPA) using
      <span class="highlight">Angular Framework</span>.

      <span *ngIf="isCollapsed" class="second-pargraph">
        The structured, component-based architecture of Angular allows me to
        create clean, maintainable, and robust applications that provide an
        excellent user experience.
      </span>

      <span *ngIf="!isCollapsed" class="third-pargraph">
        The structured, component-based architecture of Angular allows me to
        create clean, maintainable, and robust applications that provide an
        excellent user experience.
      </span>

      <span class="read" (click)="readMore()">{{ moreLessText }}</span>
    </p>

    <div @animateSlideInFromBottom class="intro-btn-container">
      <button
        type="button"
        class="intro-btn projects-btn"
        (click)="redirectToProjects()"
      >
        <i class="bi bi-box-arrow-up-right"></i>
        Explore projects
      </button>
    </div>

  </div>
</div>
