<div id="home-page-main" class="home-page-main">
  <div class="homepage-content-section cards-container">
    <div class="card card-ui" (click)="redirectToProjects()">
      <div class="card-icon">
        <i class="bi bi-code-slash"></i>
      </div>
      <div class="card-title">ui Designs</div>
      <div class="card-description">Responsive and Mobile-friendly UIs.</div>
      <div class="card-button">
        <button name="explore-1" class="explore" type="button">explore</button>
      </div>
    </div>

    <div class="card card-api" (click)="redirectToProjects()">
      <div class="card-icon">
        <i class="bi bi-plug"></i>
      </div>
      <div class="card-title">restful api</div>
      <div class="card-description">Fast and Real-time data sync.</div>
      <div class="card-button">
        <button name="explore-2" class="explore" type="button">explore</button>
      </div>
    </div>

    <div class="card card-test" (click)="redirectToProjects()">
      <div class="card-icon">
        <i class="bi bi-flask-florence"></i>
      </div>
      <div class="card-title">unit testing</div>
      <div class="card-description">Optimized and Tested quality code.</div>
      <div class="card-button">
        <button name="explore-3" class="explore" type="button">explore</button>
      </div>
    </div>

    <div class="card card-git" (click)="redirectToProjects()">
      <div class="card-icon">
        <i class="bi bi-github"></i>
      </div>
      <div class="card-title">Git & GitHub</div>
      <div class="card-description">Tracking source code changes.</div>
      <div class="card-button">
        <button name="explore-4" class="explore" type="button">explore</button>
      </div>
    </div>
  </div>

  <!-- <div class="page-content-intro-hr">INTRODUCTION</div> -->

  <div class="homepage-content-section intro-container">
    <div class="developer-name">Hi, I’m <span class="name">Yingi</span></div>
    <div class="developer-title">Front-End Developer</div>

       <div class="skills-container">
      <div class="skill"> <i class="bi bi-check-circle-fill"></i>Responsive UI</div>
      <div class="skill"><i class="bi bi-check-circle-fill"></i>Angular</div>
      <div class="skill"><i class="bi bi-check-circle-fill"></i>RESTful API</div>
      <div class="skill"><i class="bi bi-check-circle-fill"></i>Unit Testing</div>
      <div class="skill"><i class="bi bi-check-circle-fill"></i>Git and GitHub</div>

    </div>
    <p>
      I craft responsive, scalable, and user-friendly Single-Page applications
      (SPA) using
      <span class="highlight">Angular Framework</span>. 
      The structured, component-based architecture of Angular allows me to create clean, maintainable, and robust applications that provide an excellent user experience.
    </p>

    <div class="intro-btn-container">
      <button
        type="button"
        class="intro-btn gitHub-btn"
        (click)="openHyperLink(gitHubRepo)"
      >
        <i class="bi bi-github"></i>
        GitHub
      </button>

      <button
        type="button"
        class="intro-btn linkedin-btn"
        (click)="openHyperLink(linkedIn)"
      >
        <i class="bi bi-linkedin"></i>
        LinkedIn
      </button>
    </div>
  </div>
</div>
