<div id="home-page-main" class="home-page-main">
  <div class="homepage-content-section cards-container">
    <div class="card card-ui">
      <div class="card-icon">
        <i class="bi bi-code-slash"></i>
      </div>
      <div class="card-title">ui Designs</div>
      <div class="card-description">Responsive and mobile-friendly UI.</div>
      <div class="card-button">
        <button name="explore-1" class="explore" type="button">explore</button>
      </div>
    </div>

    <div class="card card-api">
      <div class="card-icon">
        <i class="bi bi-plug"></i>
      </div>
      <div class="card-title">restful api</div>
      <div class="card-description">Fast and real-time data processing.</div>
      <div class="card-button">
        <button name="explore-2" class="explore" type="button">explore</button>
      </div>
    </div>

    <div class="card card-test">
      <div class="card-icon">
        <i class="bi bi-flask-florence"></i>
      </div>
      <div class="card-title">unit testing</div>
      <div class="card-description">Writing optimized and quality code.</div>
      <div class="card-button">
        <button name="explore-3" class="explore" type="button">explore</button>
      </div>
    </div>

    <div class="card card-git">
      <div class="card-icon">
        <i class="bi bi-github"></i>
      </div>
      <div class="card-title">Git & GitHub</div>
      <div class="card-description">Tracking source code changes.</div>
      <div class="card-button">
        <button name="explore-4" class="explore" type="button">explore</button>
      </div>
    </div>
  </div>

  <div class="page-content-intro-hr">featured</div>

  <div class="homepage-content-section feeds-container">
    <div class="recent-project-container feed">

      <div class="details-heading">
        <div class="heading">project</div>
      </div>

      <div class="recent-project-details">
        <div class="recent-project-img">
          <img
            class="project-img"
            src="./img/projects/prj-mbg.png"
            alt="recent project"
            title="View Site"
          />
        </div>

        <div class="project-details">
          <div class="heading details">Mabunda Group</div>

          <div class="project-description details">
            <div class="description">
              A business website developed using web technologies such as HTML5,
              SCSS, Bootstrap 5, Font Awesome, Angular, RxJs and APIs.
            </div>

            <div class="online-options">
              <div class="online git-hub-repo">
                <i class="bi bi-github"></i> GitHub
              </div>

              <div class="online more">
                <i class="bi bi-bookmark"></i> Details
              </div>
              <div class="online live-site">
                <i class="bi bi-box-arrow-up-right"></i> Online
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="news-feed-container feed">

      <div class="feed-title">news headlines</div>

      <div class="weather-container">
        <span class="weather-item title">Weather: </span>
        <span class="weather-item"
          ><i class="bi bi-calendar-minus"></i> 26-07-2025
        </span>
        <span class="weather-item">
          <i class="bi bi-thermometer-half"></i> 22 °C</span
        >
        <span class="weather-item">
          <i class="bi bi-cloud-sun"></i> Clear Sky
        </span>
        <span class="weather-item"><i class="bi bi-droplet-half"></i> 22%</span>
      </div>

      <div class="news-container">
        <div class="news">
          <img class="news-img" src="./img/misc/19.jpg" alt="recent project" />
          <div class="news-headline">accident - n14</div>
        </div>

        <div class="news">
          <img
            class="news-img"
            src="./img/misc/mchunu2.jpg"
            alt="recent project"
          />
          <div class="news-headline">mchunu scandal</div>
        </div>

        <div class="news">
          <img class="news-img" src="./img/misc/108.jpg" alt="recent project" />
          <div class="news-headline">more arrests</div>
        </div>
      </div>
    </div>
  </div>
</div>
