<div id="site-identity" class="site-identity">

  <div class="site-names" (click)="redirectToHome()">

    <div class="site-logo">
      <img src="./img/site-logo/logo.png" alt="Site Logo" />
    </div>
    <div class="site-title-and-description">
      <div class="site-title">
        <div class="title-name"><h1>PORTFOLIO</h1></div>
        <div class="site-theme"><i class="bi bi-circle-half"></i></div>
      </div>
      <p class="site-description"> Front-End Developer (Angular)</p>
    </div>

  </div>

  <div class="site-contact-details">
    
    <div class="contact-details">

      <div class="site-contact-text contact-number">
        <span class="contact-icon"><i class="bi bi-telephone-fill"></i></span>
        <span class="contact-number-text">(+27)79 691 0468 </span>
      </div>

      <div class="site-contact-text email-address">
        <span class="contact-icon"><i class="bi bi-envelope-fill"></i></span>
        <span class="email-address-text"
          ><a href="mailto:yingishirinda@gmail.com"
            >yingishirinda&#64;gmail.com</a
          >
        </span>
      </div>

      <div class="site-contact-text theme-button">
        <div class="site-theme contact-icon">
          <i class="bi bi-circle-half"></i>
        </div>
      </div>

    </div>

    <div class="current-weather">
      <div class="weather-icon"><i class="bi bi-cloud-sun-fill"></i></div>
      <div class="weather-text">22°C</div>
    </div>

  </div>

</div>
