<div class="contact-page-main" id="contact-page-main">
  <div class="page-content-intro-hr">contact form</div>

  <div class="contact-form-container">

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      
      <div *ngIf="isSending == true" id="spinner-container">
         <app-spinner [processMessage]="isSendingMessage"></app-spinner >
      </div>

      <div class="contact-info">
        <fieldset formGroupName="personalDetails">
          <legend>Your Details</legend>

          <div class="form-control-group">
            <input
              type="text"
              id="firstName"
              formControlName="name"
              class="input-form-control"
              placeholder="* First name"
              required
               maxlength="21"
            />

            <div
              *ngIf="_firstName?.invalid && _firstName?.touched"
              class="form-validation-error-message"
            >
              <div *ngIf="_firstName?.hasError('required')">
                * First name required
              </div>

               <div *ngIf="_firstName?.hasError('maxlength')">
                * Maximum 20 characters allowed.
              </div>

            </div>
          </div>

          <div class="form-control-group">
            <input
              type="text"
              id="lastName"
              formControlName="surname"
              class="input-form-control"
              placeholder="* Last name"
              required
              maxlength="21"
            />

            <div
              *ngIf="_lastName?.invalid && _lastName?.touched"
              class="form-validation-error-message"
            >
            <div *ngIf="_lastName?.hasError('maxlength')">
                * Maximum 20 characters allowed.
              </div>

              <div *ngIf="_lastName?.hasError('required')">
                * Last name required
              </div>

              

            </div>
          </div>

          <div class="form-control-group">
            <input
              type="email"
              id="emailAddress"
              formControlName="email"
              class="input-form-control"
              placeholder="* Email address"
              required
              maxlength="31"
            />

            <div
              *ngIf="
                _emailAddress?.invalid &&
                (_emailAddress?.touched || _emailAddress?.dirty)
              "
              class="form-validation-error-message"
            >
              <div *ngIf="_emailAddress?.hasError('required')">
                *Email address required
              </div>

              <div *ngIf="_emailAddress?.hasError('email')">
                *Enter valid mail address
              </div>

              <div *ngIf="_emailAddress?.hasError('maxlength')">
                *Maximum 20 characters allowed.
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset formGroupName="messageDetails">
          <legend>Your Message</legend>

          <div class="form-control-group">
            <input
              type="text"
              id="subject"
              formControlName="subject"
              class="input-form-control"
              placeholder="* Subject"
              required
              maxlength="51"
            />

            <div
              *ngIf="_subject?.invalid && _subject?.touched"
              class="form-validation-error-message"
            >
              <div *ngIf="_subject?.hasError('required')">
                *Subject required
              </div>

              <div *ngIf="_subject?.hasError('maxlength')">
                *Maximum 50 characters allowed.
              </div>
            </div>
          </div>

          <div class="form-control-group">
            <textarea
              id="message"
              formControlName="message"
              class="input-form-control"
              placeholder="* Message"
              required
              rows="4"
                maxlength="201"
            ></textarea>

            <div
              *ngIf="_message?.invalid && _message?.touched"
              class="form-validation-error-message text-area-error-message"
            >
              <div *ngIf="_message?.hasError('required')">
                *Message required
              </div>

               <div *ngIf="_message?.hasError('maxlength')">
                *Maximum 200 characters allowed.
              </div>

            </div>
          </div>
        </fieldset>
      </div>

      <div class="contact-buttons">
        <!-- <button id="submit-button" type="submit" [disabled]="contactForm.invalid" class="submit-button button">
          submit
        </button> -->
        <button id="submit-button" type="submit"  class="submit-button button">
          submit
        </button>
        <div id="reset-button" class="reset-button button" (click)="onReset()">
          clear
        </div>
      </div>
    </form>
  </div>
</div>
