<div class="contact-page-main" id="contact-page-main">
  <div class="page-content-intro-hr">contact form</div>

  <div class="contact-form-container">

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      
      <div class="contact-info">
        <fieldset formGroupName="personalDetails">
          <legend>Your Details</legend>

          <div class="form-control-group">
            <input
              type="text"
              id="firstName"
              formControlName="firstName"
              class="input-form-control"
              placeholder="* First name"
              required
            />

            <div
              *ngIf="
                _firstName?.invalid &&
                _firstName?.touched
              "
              class="form-validation-error-message"
            >
              *First name required
            </div>
          </div>

          <div class="form-control-group">
            <input
              type="text"
              id="lastName"
              formControlName="lastName"
              class="input-form-control"
              placeholder="* Last name"
              required
            />

            <div
              *ngIf="
                _lastName?.invalid &&
                _lastName?.touched
              "
              class="form-validation-error-message"
            >
              *Last name required
            </div>
          </div>

          <div class="form-control-group">
            <input
              type="email"
              id="emailAddress"
              formControlName="emailAddress"
              class="input-form-control"
              placeholder="* Email address"
              required
            />

            <div
              *ngIf="
                 _emailAddress?.invalid &&
                 _emailAddress?.touched
              "
              class="form-validation-error-message"
            >
              *Email address required
            </div>
          </div>
        </fieldset>

        <fieldset formGroupName="messageDetails">
          <legend>Your Message</legend>

          <div class="form-control-group">
            <input
              type="text"
              id="subject"
              formControlName="subject"
              class="input-form-control"
              placeholder="* Subject"
              required
            />

            <div
              *ngIf="
                _subject?.invalid &&
                _subject?.touched
              "
              class="form-validation-error-message"
            >
              *Subject required
            </div>
          </div>

          <div class="form-control-group">
            <textarea
              id="message"
              formControlName="message"
              class="input-form-control"
              placeholder="* Message"
              required
              rows="4"
            >
            </textarea>

            <div
              *ngIf="
                _message?.invalid &&
                _message?.touched
              "
              class="form-validation-error-message text-area-error-message"
            >
              *Message required
            </div>
          </div>
        </fieldset>
      </div>

      <div class="contact-buttons">
        <div id="submit-button" class="submit-button button">submit</div>
        <div id="reset-button" class="reset-button button" (click)="onReset()">clear</div>
      </div>
    </form>
  </div>
</div>
