<div id="footer" class="footer">
  <div class="footer-top-section">
    <div class="footer-item item-introduction">
      <div class="footer-item-title">developer</div>
      <p>
        <img
          class="introduction-img"
          src="./img/developer/yingi.png"
          alt="Site Logo"
        />
        <span class="introduction-text"
          >Hi, I'm <strong>Yingi</strong>. Welcome to my Angular portfolio! In
          this portfolio you will find a collection of my projects that showcase
          my skills.</span
        >
      </p>
    </div>

    <div class="footer-item item-technology">
      <div class="footer-item-title">skills set</div>
      <div class="items-wrapper">
        <ul class="tech-list">
          <li>Responsive UI Design</li>
          <li>Angular/TypeScript</li>
          <li>RESTful API Integrations</li>
          <li>Unit Testing</li>
        </ul>
      </div>
    </div>

    <div class="footer-item item-resources">
      <div class="footer-item-title">learning hub</div>
      <ul class="resources-list">
        <li>
          <a href="https://sass-lang.com/" target="_blank" rel="noopener">
            Learn - SCSS</a
          >
        </li>
        <li>
          <a href="https://www.typescriptlang.org/" target="_blank" rel="noopener">
            Learn - TypeScript</a
          >
        </li>
        <li>
          <a href="https://angular.io/" target="_blank" rel="noopener"> Learn - Angular</a>
        </li>
        <li>
          <a href="https://javascript.info/" target="_blank" rel="noopener">
            Learn - JavaScript
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-item item-contact-details">
      <div class="footer-item-title">contact details</div>

      <div class="contact-items">
        <div class="contact-item">
          <div class="item">
            <div class="item contact-number">(+27)79 691 0468</div>
            <div class="item contact-email">
              <a href="mailto:yingishirinda@gmail.com"
                >yingishirinda&#64;gmail.com</a
              >
            </div>
            <div class="item contact-pages">
              <i class="bi bi-linkedin"></i>
              <i class="bi bi-github"></i>
              <i class="bi bi-whatsapp"></i>
              <i class="bi bi-facebook"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- WhatsApp floating button -->
    <a
      rel="noopener"
      title="WhatsApp Chat"
      href="https://wa.me/27796910468?text=Good day, I would like to hear more about your Angular Front-End Development. Please let me for know if you are available for discussion. Thank you."
      class="whats-app-btn"
      target="_blank"
      rel="noopener"
    >
      <i class="bi bi-whatsapp whats-app-icon"></i>
    </a>
  </div>

  <div class="footer-bottom-section">
    <p>
      &copy; {{ year }} Portfolio. All rights reserved. Developed by
      <strong>Yingisani</strong>
    </p>
  </div>
</div>
