@use 'abstracts/variables' as *;

// base/_typography.scss
body {
    font-family: $font-stack;
    font-size: 16px;
    line-height: 1.5;
    color: $standard-font-color;
    background-color: $tertiary-bg-color;
}

h1,
h2,
h3 {
    font-weight: bold;
}